.Parallax-div {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-size: cover;
  	background-position: center;
  	background-repeat: no-repeat;
}

.overlay-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.black-div{
	color: #fff!important;
    /*background-color: #000!important; */
    background-color: #000!important;
    opacity: 0.5;
}

.side-column  p{
	line-height: 0.8;
}

.cdoverlay_heading {
	color:#fff !important;
}

#page-local-course_details-index #page-header{
	display:none !important;
}
@media (min-width: 768px){
	.side-column{
		border-left: 1px solid #c5c3c3;
	}
	.large-screen-show{
		display: block !important;
	}
	.small-screen-show{
		display: none !important;
	}
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
	.side-column{
		border-left: 1px solid #c5c3c3;
	}
	.large-screen-show{
		display: block !important;
	}
	.small-screen-show{
		display: none !important;
	}
}

@media only screen and (max-width: 767px) {
	.side-column{
		border-top: 1px solid #c5c3c3;
		padding-top: 15px;
	}
	.large-screen-show{
		display: none !important;
	}
	.small-screen-show{
		display: block !important;
	}
}
.frmSearch {border: 1px solid #a8d4b1;background-color: #c6f7d0;margin: 2px 0px;padding:40px;border-radius:4px;}
#country-list{float:left;list-style:none;margin-top:-3px;padding:0;width:190px;position: absolute;}
#country-list li{padding: 10px; background: #f0f0f0; border-bottom: #bbb9b9 1px solid;}
#country-list li:hover{background:#ece3d2;cursor: pointer;}
#search-box{padding: 10px;border: #a8d4b1 1px solid;border-radius:4px;}
