<style>
    body{
        background-color:#fff !important;
    }
    .socil-link-btn{
            margin: 0 2.5px;
            vertical-align: top;
            width: 38px;
            height: 38px;
            line-height: 38px;
            text-align: center;
            font-size: 16px;
            color: #fff;
            border-radius: 50%;
            padding:10px 15px;
    }
    .user-img{
        width:80%;
    }
</style>

<section id="user_profile">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-3 pt-4 pb-4">
                    <img src="{{{user_img}}}" class="user-img rounded-circle img-thumbnail mx-auto d-block"> 
                    <h4 class="mt-4">{{{name}}}</h4>
                    {{#editprofile}}
                        <a href="{{{editprofile_link}}}" class="badge badge-info"><i class="fa fa-pencil"></i> Edit Profile</a>
                    {{/editprofile}}
                    {{#designation}}
                    <h6>{{{designation}}}</h6>
                    {{/designation}}
                    <!--
                    <h6 class="text-warning">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                        <span> 4</span><br>
                        <span class="text-secondary">8 Reviews</span>
                    </h6>
                    -->
                </div>
                <div class="col-xs-12 col-md-9">
                    <div class="col-xs-12 col-md-12  pt-4 pb-4">
                        <div class="row">
                            <div class="col-xs-12 col-md-8">
                                <h1>{{{name}}}</h1>
                            </div>
                            <div class="col-xs-12 col-md-4 text-right">
                            {{#facebooklink}}
                                <a href="{{{facebooklink}}}" class="socil-link-btn bg-primary">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            {{/facebooklink}}
                            {{#twitterlink}}
                                <a href="{{{twitterlink}}}" class="socil-link-btn bg-danger">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            {{/twitterlink}}
                            {{#linkedinlink}}
                                <a href="{{{linkedinlink}}}" class="socil-link-btn bg-info">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            {{/linkedinlink}}
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <div class="col-xs-12 col-md-12">
                        <h6>Bio</h6>
                        {{{description}}}
                    </div>
                    {{#course_teaching}}
                    
                    <div class="col-xs-12 col-md-12 pt-4">
                        <h3>Course Teaching</h3>
                        <hr/>
                        <div class="row">
                        {{{course_teaching}}}
                        </div>
                    </div>
                    {{/course_teaching}}
                    {{#course_ongoing}}
                    
                    <div class="col-xs-12 col-md-12 pt-4">
                        <h3>Course Ongoing</h3>
                        <hr/>
                        <div class="row">
                        {{{course_ongoing}}}
                        </div>
                    </div>
                    {{/course_ongoing}}
                    {{#course_completed}}
                    
                    <div class="col-xs-12 col-md-12 pt-4">
                        <h3>Course Completed</h3>
                        <hr/>
                        <div class="row">
                        {{{course_completed}}}
                        </div>
                    </div>
                    {{/course_completed}}
                    <div class="col-xs-12 p-5"></div>
                </div>
            </div>
        </div>
    </div>
</section>