
<div class="col-sm-4 col-md-3 p-2 hey" >
    <div class="card" >
        <div class="card-header p-0 eps-card-header" style="background-image: url({{{card_header_img}}});">
        	<div class="eps-card-logo-container">
            	<div class="eps-card-logo  rounded-circle"  style="background-color: #fff;display:table;overflow: hidden;">
                    <p class="text-center" style="display:table-cell;vertical-align: middle;">
                        <img src="{{{card_center_logo}}}" class="eps-card-logo-img">
                    </p>
                </div>
            </div>
        </div>

        <div class="card-body eps-card-body" style="border-top: 2px solid {{{card-color}}}; margin-top: 10px;display:block;">
            <p class="card-title eps-card-title text-center">{{{card_title}}}</p>
        </div>
        <div class="card-footer eps-card-footer text-center">
            <a href="{{{card_link}}}" class="btn btn-primary  btn-sm stretched-link">{{{link_text}}}</a>
        </div>
    </div>
</div>