<div class="container-fluid " id="catlogin-links">
<div class="row p-2">
<div class="col-md-12 text-center pt-5">
<h5 class="theme-primery-color bold">Access your online campus</h5>
<p>Please select a institution to continue to your Online Campus</p>
</div>
</div>
{{#catlinks}}

<div class="row mb-4 pt-2 pb-2">

<div class="col-md-3 text-center"></div>

<div class="col-md-6 strip bg-white p-2">

	<a href="{{{ catlink }}}" class="text-dark pl-5">
		<div class="cat-image" style="border-color:{{{ catcolor }}}">
		<p class="cat-image_p text-center">
		<img src="{{{ catlogo }}}" class="img-fluid">
		</p>
		</div>
		{{{ catname }}}
		<img src="{{{ arrow }}}" class="float-right">
	</a>
</div>
<div class="col-md-3 text-center"></div>

</div>

{{/catlinks}}
</div>