
  <div class="col-sm-12 pt-3">
    <a href="{{{ config.wwwroot }}}/local/course_details/course_details.php?cid={{{cid}}}">
      <div class="pull-left mr-3 pop-course-img-container" style="background-image: url('{{{ courseimage }}}');">
      </div>
      <div class="col">
          <p class="p-1 ">
              <span class="text-secondary">{{{coursename}}}</span><br>
              <span class="badge badge-success">{{{course_cost}}}</span>
              <span class="text-warning float-right">
                  {{{rating_star}}}
              </span>
          </p>
      </div>
      </a>
  </div>