

<div class="container-fluid pt-5 pb-5 well" id="contactinfo-form">


  <div class="container pt-5 pb-5">
    <div class="main-contact-form">
      <div class="row">
        <div class="col-md-12">
    			<h1 class="theme-primery-color text-uppercase">{{#str}}getmoreinformation,local_course_details{{/str}}</h1>
          <p>{{#str}}getmoreinformationdesc,local_course_details{{/str}}</p>
          <p>{{#str}}required,local_course_details{{/str}}</p>
    		<div>
    	</div>
      <form method="post" action="{{{form_action}}}">
        <div id="contact-form">
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="firstname">{{#str}}firstname,local_course_details{{/str}}</label>
              <input type="text" class="form-control" id="c_firstname" name="fname" required>
            </div>
            <div class="form-group col-md-4">
              <label for="lastname">{{#str}}lastname,local_course_details{{/str}}</label>
              <input type="text" class="form-control" id="c_lastname" name="lname" required>
            </div>
            <div class="form-group col-md-4">
              <label for="Email">{{#str}}email,local_course_details{{/str}}</label>
              <input type="email" class="form-control" id="c_email" name="email_id" required>
              <span id="email_output"></span>
            </div>
            <!--<div class="form-group col-md-3">
              <label for="contact_no">{{#str}}contactnumber,local_course_details{{/str}}</label>
              <input type="text" class="form-control" id="phone" name="contact_no" required>
              <span id="contact_output"></span>
              <span id="phone_error" style="color:red;"></span>
                <span id="valid-msg" class="hide" style="color:green;">✓ Valid</span>
                <span id="error-msg" class="hide" style="color:red;"></span>
            </div>-->
            <div id="contact_by" class="form-group container hide">
              <div class="row">

                <div class="col-md-12 p-0">
                  <p >{{{textline1}}}</p>
                </div>

                <div class="col-md-2 p-0">
                  <label for="contact_by_email"><strong>By Email: </strong></label>
                </div>
                <div class="col-md-10 p-0">
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="contact_by_email_yes" name="contact_by_email" value="1" checked required>
                    <label class="custom-control-label" for="contact_by_email_yes">Yes</label>
                  </div>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="contact_by_email_no" name="contact_by_email"  value="0" required>
                    <label class="custom-control-label" for="contact_by_email_no">No</label>
                  </div>
                </div>

                <div class="col-md-2 p-0">
                  <label for="contact_by_phone"><strong>By Phone: </strong></label>
                </div>
                <div class="col-md-10 p-0">
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="contact_by_phone_yes" value="1"  name="contact_by_phone" checked required>
                    <label class="custom-control-label" for="contact_by_phone_yes">Yes</label>
                  </div>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="contact_by_phone_no" value="0" name="contact_by_phone" required>
                    <label class="custom-control-label" for="contact_by_phone_no">No</label>
                  </div>
                </div>

                <div id="contect_no_div" class="col-md-12">
                  <div class="row">
                    <div class="col-md-2 p-0">
                      <label for="contact_by_phone"><strong>{{#str}}contactnumber,local_course_details{{/str}}: </strong></label>
                    </div>
                    <div class="col-md-10 p-0">
                      <div class="form-group col-md-4 p-0">
                        <!--<label for="contact_no">{{#str}}contactnumber,local_course_details{{/str}}</label>-->
                        <input type="text" class="form-control" id="phone" name="contact_no" required>
                        <span id="contact_output"></span>
                        <span id="phone_error" style="color:red;"></span>
                          <span id="valid-msg" class="hide" style="color:green;">✓ Valid</span>
                          <span id="error-msg" class="hide" style="color:red;"></span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-12 p-0">
                  <p for="learn_more">{{{textline2}}}</p>
                </div>

                <div class="col-md-12 p-0">
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="learn_more_yes" name="learn_more" value="1" checked required>
                    <label class="custom-control-label" for="learn_more_yes">Yes</label>
                  </div>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="learn_more_no" value="0" name="learn_more">
                    <label class="custom-control-label" for="learn_more_no">No</label>
                  </div>
                </div>

              </div>

               
              
            </div>
        </div>
        <div  class="col-md-12 p-0">{{#str}}consenting,local_course_details{{/str}}</div>
        <div class="col-md-12 text-center pt-2" id="contact-button">
          <button type="submit" id="get_info_btn" class="btn btn-primary rounded-pill text-uppercase" >{{#str}}continue,local_course_details{{/str}}</button>
          <span id="cmessage_output"  style="color:black;"></span>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  
  $( "#c_email" ).focus(function() {
    $("#contact_by").show();
  });

  $('input:radio[name="contact_by_phone"]').change(
    function(){
    
        if (this.checked && this.value == '1') {
            $("#contect_no_div").show();
        }else{
          $("#contect_no_div").hide();
        }
    });
</script>
