<style>
   
    .course_card {
        display:none;
    }
</style>



<section id="course-details-section" class="">
    <div class="container-fluid">
        <div class="container p-0">
            <div class="row pt-4 pb-4">                
                <div class="col-xs-12 col-md-4">                
                    <h2>Course</h2>
                </div>
                <div class="col-xs-12 col-md-4">
                </div>    
                <div class="col-xs-12 col-md-4">    
                <!-- course search box-->            
                    <div class="input-group mb-3">
                      <input id="search_course" name="search_course" type="text" class="form-control" placeholder="Search Courses">
                      <div class="input-group-append">
                        <button id="search_course_submit" class="btn btn-sm btn-success" type="submit"><i class="fa fa-search"></i></button>
                      </div>
                    </div>
                <!-- course search box-->
                </div>
                <div class="col-xs-12 col-md-4 hide">                
                    <div class="row">                
                        <div class="col-xs-12 col-md-4">                
                            <h6 class="text-right">SORT BY</h6>
                        </div>
                        <div class="col-xs-12 col-md-8">                
                        <!-- sort by box -->
                            <div class="form-group">
                              <select class="form-control" id="sel1">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                              </select>
                            </div>                        
                        <!-- sort by box -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container p-0">
            <div class="row pt-4 pb-4">                
                <div class="col-xs-12 col-md-3"> 
                <!-- course filter custom field section-->    
                {{{custom_course_filter_option}}} 
                <!-- course filter custom field section-->
                </div>
                <div class="col-xs-12 col-md-9">   
                    <div id="loaderbox" class="col-xs-12 hide p-5 text-center">
                        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                    </div>
                    <div id="filtered_course_list" class="row p-0">

                    </div>
                    <div class="text-center pt-4">
                        <a href="#" id="loadMore" class="btn btn-outline-info btn-lg rounded-pill"><span class="spinner-grow spinner-grow-lg"></span> Load More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>

$(window).on('load', function(e) {
 e.preventDefault();
    show_course_card();
});

function show_course_card(){
   $(".course_card").slice(0, 3).show(); 
}

function show_loadmore(){
    if ($(".course_card:hidden").length == 0) {
      //$("#loadMore").fadeOut("slow");
      $("#loadMore").hide();
    }else{
      $("#loadMore").show();    
    }
}

$(function () {
$(".course_card").slice(0, 3).hide();
  $("#loadMore").on("click", function (e) {
    e.preventDefault();
    $(".course_card:hidden").slice(0, 3).slideDown();
    if ($(".course_card:hidden").length == 0) {
      $("#loadMore").fadeOut("slow");
    }
    $("html,body").animate(
      {
        scrollTop: $(this).offset().top
      },
      900
    );
  });
});

/*
$("a[href=#top]").click(function () {
  $("body,html").animate(
    {
      scrollTop: 0
    },
    600
  );
  return false;
});
*/
$(window).scroll(function () {
  if ($(this).scrollTop() > 50) {
    $(".totop a").fadeIn();
  } else {
    $(".totop a").fadeOut();
  }
});


function courseFilter() {
        //alert();

    $("#loaderbox").show();
    $("#filtered_course_list").hide();

    //var Sort_by = document.getElementById('Sort_by').value;
    var course_categories = [];
    $('input[name=course_categories]:checked').each(function() {
       course_categories.push($(this).val());
    });
    var level = [];
    $('input[name=level]:checked').each(function() {
       level.push($(this).val());
    });
    var language = [];
    $('input[name=language]:checked').each(function() {
       language.push($(this).val());
    });
    var cost_type = [];
    $('input[name=cost_type]:checked').each(function() {
       cost_type.push($(this).val());
    });
    var affiliation_name = [];
    $('input[name=affiliation_name]:checked').each(function() {
       affiliation_name.push($(this).val());
    });
    var delivery_type = [];
    $('input[name=delivery_type]:checked').each(function() {
       delivery_type.push($(this).val());
    });
    var certificate_available = [];
    $('input[name=certificate_available]:checked').each(function() {
       certificate_available.push($(this).val());
    });
    // e.g: ["1", "2"]

    $.ajax({
        type: "POST",
        url: M.cfg.wwwroot+'/local/course_details/ajax_filter.php',
        data: {
            course_categories: course_categories,
            level: level,
            language: language,
            cost_type: cost_type,
            affiliation_name: affiliation_name,
            delivery_type: delivery_type,
            certificate_available: certificate_available,
        },
        success: function(data){
            $("#filtered_course_list").html(data);
            $("#loaderbox").hide();
            $("#filtered_course_list").show();
            show_course_card();
            show_loadmore();

        }
        /*error: function (responseRes, textStatus, errorThrown) {

        }*/
    });
}
$(document).ready(function() {

    
    courseFilter();
    /* ======= Filter card link click ======= */
    
    $('.filter_card_link').on('click', function(e){
        $(this).find('i.fa').toggleClass('fa-minus text-secondary fa-plus text-primary');
        
    });

    $("#search_course_submit").on("click", function() {
        //alert();
        $("#loaderbox").show();
        $("#filtered_course_list").hide();
        var search_text = $('#search_course').val();
        $.ajax({
            type: "POST",
            url: M.cfg.wwwroot+'/local/course_details/ajax_filter.php',
            data: {
                search_text: search_text,
            },
            success: function(data){
                $("#filtered_course_list").html(data);
                $("#loaderbox").hide();
                $("#filtered_course_list").show();
                show_course_card();
                show_loadmore();


            }
            /*error: function (responseRes, textStatus, errorThrown) {

            }*/
        });
    });

    $("input[name=course_categories]").on("click", function() {
        //alert();
        courseFilter();
    });

    $("input[name=level]").on("click", function() {
        courseFilter();
    });
    $("input[name=language]").on("click", function() {
        courseFilter();
    });
    $("input[name=cost_type]").on("click", function() {
        courseFilter();
    });
    $("input[name=affiliation_name]").on("click", function() {
        courseFilter();
    });
    $("input[name=delivery_type]").on("click", function() {
        courseFilter();
    });
    $("input[name=certificate_available]").on("click", function() {
        courseFilter();
    });
    
    

});
</script>