
<div class="col-sm-12 col-md-4 p-1 course_card" >
    <a href="{{{course_link}}}">
    <div class="card border rounded" >
        <div class="card-header p-0 course-card-header" style="background-image: url({{{courseimage}}});">
        	
        </div>

        <div class="card-body course_card_body">
            <p class="card-title">{{{coursename}}}</p>
        </div>
        <div class="card-footer border-top">
            
            {{#course_duration}}
            <span class="float-left"><i class="fa fa-clock-o"></i> {{{course_duration}}}</span>
            {{/course_duration}}
            {{#course_cost}}
            <span class="float-right">{{{course_cost}}}</span>
            {{/course_cost}}
        </div>
    </div>
    </a>
</div>