

    {{#instructor_data}}

    <a href="{{{profile_url}}}">
        <div class="pull-left mr-2 teacher-pic-container">
            <img src="{{{instructor_image}}}" class="img-fluid rounded-circle border" >
        </div>
        <div class="col">
            <p class="pl-2">
                <span class="text-secondary">Teacher</span><br>
                <span class="text-dark">{{{instructor_name}}}</span>
            </p>
        </div>
    </a>

    {{/instructor_data}}
