<div class="row bg-light p-1">

    <div class="col-sm-12 border-bottom pt-3">
        <div class="pull-left mr-2">
            <i class="fa fa-users fa-2x text-success"></i>
        </div>
        <div class="col">
            <p class="p-2">
                <span class="text-secondary">Enrolled: {{{users_count}}} students</span>
            </p>
        </div>
    </div>

    <div class="col-sm-12 border-bottom pt-3">
        <div class="pull-left mr-2">
            <i class="fa fa-clock-o fa-2x text-primary"></i>
        </div>
        <div class="col">
            <p class="p-2">
                <span class="text-secondary">Duration: {{{duration}}}</span>
            </p>
        </div>
    </div>

    <div class="col-sm-12 border-bottom pt-3">
        <div class="pull-left mr-2">
            <i class="fa fa-language fa-2x text-info"></i>
        </div>
        <div class="col">
            <p class="p-2">
                <span class="text-secondary">Language: {{{language}}}</span>
            </p>
        </div>
    </div>

    <div class="col-sm-12 border-bottom pt-3">
        <div class="pull-left mr-2">
            <i class="fa fa-stumbleupon fa-2x text-danger"></i>
        </div>
        <div class="col">
            <p class="p-2">
                <span class="text-secondary">Effort: {{{effort}}}</span>
            </p>
        </div>
    </div>

    <div class="col-sm-12 border-bottom pt-3">
        <div class="pull-left mr-2">
            <i class="fa fa-signal fa-2x text-warning"></i>
        </div>
        <div class="col">
            <p class="p-2">
                <span class="text-secondary">Level: {{{level}}}</span>
            </p>
        </div>
    </div>
    {{#affiliation_name}}
    <div class="col-sm-12 border-bottom pt-3">
        <div class="pull-left mr-2">
            <i class="fa fa-university fa-2x text-success"></i>
        </div>
        <div class="col">
            <p class="p-2">
                <span class="text-secondary">Affiliation Name: {{{affiliation_name}}}</span>
            </p>
        </div>
    </div>
    {{/affiliation_name}}
    <div class="col-sm-12 border-bottom pt-3">
        <div class="pull-left mr-2">
            <i class="fa fa-globe fa-2x text-primary"></i>
        </div>
        <div class="col">
            <p class="p-2">
                <span class="text-secondary">Delivery type: {{{delivery_type}}}</span>
            </p>
        </div>
    </div>

    <div class="col-sm-12 border-bottom pt-3">
        <div class="pull-left mr-2">
            <i class="fa fa-certificate fa-2x text-danger"></i>
        </div>
        <div class="col">
            <p class="p-2">
                <span class="text-secondary">Certificate Available: {{{certificate_available}}}</span>
            </p>
        </div>
    </div>

</div>