<style>
    .teacher-pic-container{
        width:50px;
    }
    #course-details-section{
        background-color:#fff;
    }
    .course-image{
        width: 100%;
        height: 355px;
        background-image: url('{{{courseimage}}}');
        background-size: cover;
        background-position: center top;
    }
    .popular-course-container{
        border-top:3px solid;
    }
    .pop-course-img-container{
        width:70px;
        height: 70px;        
        background-size: cover;
        background-position: center top;
    }
    .archive-container{
        border-top:3px solid;
    }

    .rating-number{
        width:60%;
        margin:auto;
        background-color:#fff;
    }
    .review-user-pic{
        width:100px;
    }
    
</style>

<section id="course-details-section" class="pt-3">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3 col-sm-12">
                            <a href="#">
                                <div class="pull-left mr-2">
                                    <i class="fa fa-bookmark-o fa-3x"></i>
                                </div>
                                <div class="col">
                                    <a href="{{{ config.wwwroot }}}/course/index.php?categoryid={{{coursecatid}}}">
                                    <p class="pl-2">
                                        <span class="text-secondary">Category:</span><br>
                                        <span class="text-dark">{{{coursecatname}}}</span>
                                    </p>
                                    </a>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            {{{teachers}}}
                        </div>
                        
                        <div class="col-md-3 col-sm-12 p-3">
                            <a class="pull-right">
                                <span class="p-2 rounded-circle bg-secondary text-light"><i class="fa fa-heart"></i></span>
                                <span>Add To Wishlist</span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 pt-3 pb-3">
                    <div class="row">
                        <div class="col-md-9 col-xs-12 ">
                            <h1 class="font-weight-bolder">{{{coursename}}}</h1>
                        </div>
                        <div class="col-md-3 col-xs-12 p-0">
                            <div class="row">
                                <div class="col-md-12 p-0">
                                    <div class="pull-right">
                                        {{{course_payment_btn}}}
                                      <!--<button type="button" class="btn btn-primary rounded" >
                                        Get Course <span> {{{course_cost}}}</span>
                                      </button>-->
                                    </div>
                                </div>
                                <div class="col-md-12 p-0">
                                    <p class="text-right pt-2">
                                        <span>{{{overall_ratings}}}.0</span>
                                        <span class="text-warning">
                                            {{{rating_star}}}
                                        </span>
                                        <span>{{{total_no_of_ratings}}} Ratings</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3 ">

                            <!--  Courses custom fields -->
                            {{{course_extra_fields}}}

                            <!-- Popular Courses -->

                            <div class="row popular-course-container border-primary p-1">

                                <div class="col-sm-12 pt-2 pb-2">
                                    <h5>Related Courses</h5>
                                </div>
                                
                                {{{related_course_card}}}

                            </div>

                            <!-- Knowledge Partner section -->
                            {{#knowledge_partner}}
                            <div class="row archive-container border-primary p-1">

                                <div class="col-sm-12 pt-2 pb-2">
                                    <h5>Knowledge Partner</h5>
                                    <h6 class="text-secondary">{{{knowledge_partner}}}</h6>
                                </div>                               

                            </div>
                            {{/knowledge_partner}}
                            <!-- Content Provider section -->
                            {{#content_provider}}
                            <div class="row archive-container border-primary p-1">

                                <div class="col-sm-12 pt-2 pb-2">
                                    <h5>Content Provider</h5>
                                    <h6 class="text-secondary">{{{content_provider}}}</h6>
                                </div>                               

                            </div>
                            {{/content_provider}}
                            <!-- Working hours -->
                            <!--
                            <div class="row archive-container border-primary p-1">

                                <div class="col-sm-12 pt-2 pb-2">
                                    <h5>Working hours</h5>
                                </div>
                                <div class="col-sm-12 pt-3">
                                    <table class="table">
                                        <tbody>
                                          <tr>
                                            <td>Monday</td>
                                            <td class="text-right">9:30 am - 6.00 pm</td>
                                          </tr>
                                          <tr>
                                            <td>Tuesday</td>
                                            <td class="text-right">9:30 am - 6.00 pm</td>
                                          </tr>
                                          <tr>
                                            <td>Wednesday</td>
                                            <td class="text-right">9:30 am - 6.00 pm</td>
                                          </tr>
                                          <tr>
                                            <td>Thursday</td>
                                            <td class="text-right">9:30 am - 6.00 pm</td>
                                          </tr>
                                          <tr>
                                            <td>Friday</td>
                                            <td class="text-right">9:30 am - 6.00 pm</td>
                                          </tr>
                                          <tr>
                                            <td>Saturday</td>
                                            <td class="text-right"><span class="badge badge-pill badge-danger">Closed</span></td>
                                          </tr>
                                          <tr>
                                            <td>Sunday</td>
                                            <td class="text-right"><span class="badge badge-pill badge-danger">Closed</span></td>
                                          </tr>
                                        </tbody>
                                      </table>
                                </div>

                            </div>
                            -->
                        </div>

                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="course-image"></div>
                                </div>
                                <div id="course_details_tabs" class="col-md-12 mt-3">
                                    <div class="bg-light">

                                        <!-- Nav tabs -->
                                        <ul class="nav nav-tabs nav-justified bg-dark" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link p-3 text-light active" data-toggle="tab" href="#Description"> Description </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link p-3 text-light" data-toggle="tab" href="#Curriculum"> Curriculum </a>
                                            </li>
                                            <li class="nav-item">
                                              <a class="nav-link p-3 text-light" data-toggle="tab" href="#FAQ"> FAQ</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link p-3 text-light" data-toggle="tab" href="#Announcement"> Announcement </a>
                                            </li>
                                            <li class="nav-item">
                                              <a class="nav-link p-3 text-light" data-toggle="tab" href="#Reviews"> Reviews </a>
                                            </li>
                                        </ul>

                                        <!-- Tab panes -->
                                        <div class="tab-content ">
                                            <div id="Description" class="container tab-pane active"><br>
                                              {{{description}}}
                                            </div>
                                            <div id="Curriculum" class="container tab-pane fade"><br>
                                              
                                            {{{curriculum}}}

                                            </div>
                                            <div id="FAQ" class="container tab-pane fade"><br>
                                              {{{course_faq}}}
                                            </div>
                                            <div id="Announcement" class="container tab-pane fade"><br>
                                              {{{announcement}}}
                                            </div>
                                            <div id="Reviews" class="container tab-pane fade"><br>
                                              
                                            {{{reviews_ratings}}}

                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>