


  <div class="row">
    <div class="col-md-12 pt-4 pb-4">
        <div class="row">
            <div class="col-md-6"> 
                <div class="rating-number text-center p-5">
                    <span class="display-4">{{{overall_ratings}}}.0</span><br>
                    <span class="text-warning">
                        {{{overall_ratings_star}}}
                    </span><br>
                    <span class="">{{{total_no_of_ratings}}} Ratings</span>

                </div>
            </div>
            <div class="col-md-6">
                <h6>Detailed Rating</h6>
                <div class="col-sm-10 p-0 pt-4">
                    <div class="pull-left mr-2">
                        <span class="text-dark">Star 5</span>
                    </div>
                    <div class="pull-right">
                        <span class="text-secondary">{{{five_star}}}%</span>
                    </div>
                    <div class="col">
                        <div class="progress">
                          <div class="progress-bar progress-bar-striped" style="width:{{{five_star}}}%"></div>
                        </div>
                    </div>    
                </div>
                <div class="col-sm-10 p-0 pt-4">
                    <div class="pull-left mr-2">
                        <span class="text-dark">Star 4</span>
                    </div>
                    <div class="pull-right">
                        <span class="text-secondary">{{{four_star}}}%</span>
                    </div>
                    <div class="col">
                        <div class="progress">
                          <div class="progress-bar progress-bar-striped" style="width:{{{four_star}}}%"></div>
                        </div>
                    </div>    
                </div>
                <div class="col-sm-10 p-0 pt-4">
                    <div class="pull-left mr-2">
                        <span class="text-dark">Star 3</span>
                    </div>
                    <div class="pull-right">
                        <span class="text-secondary">{{{three_star}}}%</span>
                    </div>
                    <div class="col">
                        <div class="progress">
                          <div class="progress-bar progress-bar-striped" style="width:{{{three_star}}}%"></div>
                        </div>
                    </div>    
                </div>
                <div class="col-sm-10 p-0 pt-4">
                    <div class="pull-left mr-2">
                        <span class="text-dark">Star 2</span>
                    </div>
                    <div class="pull-right">
                        <span class="text-secondary">{{{two_star}}}%</span>
                    </div>
                    <div class="col">
                        <div class="progress">
                          <div class="progress-bar progress-bar-striped" style="width:{{{two_star}}}%"></div>
                        </div>
                    </div>    
                </div>
                <div class="col-sm-10 p-0 pt-4">
                    <div class="pull-left mr-2">
                        <span class="text-dark">Star 1</span>
                    </div>
                    <div class="pull-right">
                        <span class="text-secondary">{{{one_star}}}%</span>
                    </div>
                    <div class="col">
                        <div class="progress">
                          <div class="progress-bar progress-bar-striped" style="width:{{{one_star}}}%"></div>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
    {{#reviews_data}}
        <div class="col-md-12">
            <hr/>
            <div class="row">
                <div class="col-sm-12 col-md-2">
                    <img src="{{{user_img}}}" class="review-user-pic rounded-circle">
                </div>
                <div class="col-sm-12 col-md-10">
            	<h6 class="mb-1">{{{name_of_the_person}}}</h6>

                    <span class="text-warning">
                        {{{review_rating}}}
                    </span><br>
                    <p>{{{review_text}}}</p>
                </div>
            </div>
        </div>
     {{/reviews_data}}
	{{^reviews_data}}

		<div class="container">
		  <div class="alert alert-info">
		    <strong>Sorry!</strong> No reviews available.
		  </div>
		</div>

	{{/reviews_data}}
    </div>
  </div>









