

<div id="course_details_tabs" class="container-fluid p-5">
	<div class="container well p-0 pb-3 mb-3">

	  <!-- Nav tabs -->
	  <ul class="nav nav-tabs">

	    <li class="nav-item">
	      <a class="nav-link active" data-toggle="tab" href="#curriculum">{{#str}}curriculum,local_course_details{{/str}}</a>
	    </li>

<!--
			<li class="nav-item">
				<a class="nav-link " data-toggle="tab" href="#overview">{{#str}}overview,local_course_details{{/str}}</a>
			</li>
-->

	    {{^free_course}}

			<!--
	    <li class="nav-item">
	      <a class="nav-link" data-toggle="tab" href="#instructor">{{#str}}instructor,local_course_details{{/str}}</a>
	    </li>



	    <li class="nav-item">
	      <a class="nav-link" data-toggle="tab" href="#reviews">{{#str}}reviews,local_course_details{{/str}}</a>
	    </li>

					-->


	    {{/free_course}}
	  </ul>

	  <!-- Tab panes -->
	  <div class="tab-content">
			<div id="curriculum" class="container tab-pane p-4 pt-5 pb-5 active"><br>
	      <div class="row">
	      	<div class="col-xs-12 col-md-8">
	      		{{{curriculum}}}
	      	</div>
	      	<div class="col-xs-12 col-md-4">
	      		{{{cextrafields}}}
	      	</div>
	      </div>
	    </div>

<!--
	    <div id="overview" class="container tab-pane p-4 pt-5 pb-5 fade">
	      <div class="row">
	      	<div class="col-xs-12 col-md-8">
	      		{{{overview}}}
	      	</div>
	      	<div class="col-xs-12 col-md-4">
	      		{{{cextrafields}}}
	      	</div>
	      </div>

	    </div>
-->

	    {{^free_course}}
	    <div id="instructor" class="container tab-pane p-4 pt-5 pb-5 fade"><br>
	      <div class="row">
	      	<div class="col-xs-12 col-md-8">
	      		{{{instructor}}}
	      	</div>
	      	<div class="col-xs-12 col-md-4">
	      		{{{cextrafields}}}
	      	</div>
	      </div>
	    </div>
	    <div id="reviews" class="container tab-pane p-4 pt-5 pb-5 fade"><br>
	      <div class="row">
	      	<div class="col-xs-12">
	      		{{{reviews}}}
	      	</div>
	      </div>
	    </div>
	    {{/free_course}}
	  </div>
	</div>

</div>

<!-- this is not needed so commenting  Mihir university

<div class="container-fluid p-5" style="background-color: #cacaca;">
	<div class="container p-0 pb-3 mb-3">
		<div class="row">
			<div class="col-xs-12 col-md-8">
				<h1>{{#str}}when_do_start,local_course_details{{/str}}</h1>
				<p><b>{{#str}}next_available,local_course_details{{/str}}</b></p>
			</div>
			<div class="col-xs-12 col-md-4">
				<a href="#contactinfo-form" class="btn btn-outline-light rounded-pill btn-block m-2"> {{{download_prospectus_button_name}}}</a>
				<!--------Commented by Abhijit: 18 May 2020-----------------
				{{#register_pg_link}}<a href="{{{register_pg_link}}}" class="btn btn-primary rounded-pill btn-block m-2"> {{{button_name}}}</a>{{/register_pg_link}}
				---->
<!--
				<button type="button" class="btn btn-primary rounded-pill btn-block m-2"   data-toggle="modal" data-target="#request_callback_Modal">{{#str}}request_a_call,local_course_details{{/str}}</button>
			</div>
		</div>
	</div>
</div>
---->
