    <div class="search-page-header-wrapper">
        <div class="search-header-bg">
            
            <div style="background-image: url({{{catimage}}}); -webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover; background-size:cover; background-repeat: no-repeat;  background-position: center; width:100%; height: 100%;"></div>        
            <div class="search-box-mask search-box-mask1"></div>        
        </div>
        
    </div>
    <div style="background-color:#fff;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center p-4">
                    <img class="" src="{{{catlogo}}}" style="width:10%;">
                </div>
                 <div class="col-md-12 p-2 text-center">
                    <h5>Prosper With {{{catname}}}</h5>
                </div>
                 <div class="col-md-12 p-2 text-center">
                    {{{catdesc}}}
                </div>
            </div>
        </div>
    </div>
    <div>
         <div class="container">
            <div class="row pt-4 pb-4">
                {{{coursecardlist}}}
            </div>
        </div>
    </div>


