<div class="search-page-header-wrapper">
    <div class="search-header-bg">
        {{#courscourse_image}}
        <div class="bg_image" id="back_image" style="background-image: url({{{courscourse_image}}}); -webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover; background-size:cover; background-repeat: no-repeat;  width:100%; height: 100%;"></div>
        {{/courscourse_image}}
        <div class="search-box-mask" style="background: rgba(0, 0, 0, 0.66);"></div>
    </div>
    <div class="container p-4">
        <div class="row pt-5">
          <!-- Mihir for skills not needed
        	<div class="course-header-logo-container rounded-circle border-light" style="z-index: 1;">
        		<p class="course-header-logo text-center"><img src="{{{course_cat_logo}}}" class="img-fluid rounded-circle" style=""></p>
        	</div>
        -->
            <div class="col p-3 pt-4 text-light">
                {{#coursename}}<h1 class="color-white">{{{coursename}}}</h1>{{/coursename}}
                {{^free_course}}
                {{#coursestartdate}}<p class="color-white mt-2 ">Course Start {{{coursestartdate}}}</p>{{/coursestartdate}}
                {{/free_course}}
                {{#free_course}}
                <p  class="color-white mt-2 ml-2">{{#str}}now_open,local_course_details{{/str}}</p>
                {{/free_course}}

                <!-- Mihir
                {{#download_prospectus_link}}<a href="#contactinfo-form" class="bg-white text-dark btn btn-sm mt-2 mb-4 rounded-pill">{{{download_prospectus_button_name}}}</a>{{/download_prospectus_link}}
              -->
                <!--------Commented by Abhijit: 18 May 2020-----------------
                {{#free_course}}
                {{#register_pg_link}}<a href="{{{register_pg_link}}}" class="bg-white text-dark btn btn-sm mt-2 mb-4 rounded-pill"> {{{button_name}}}</a>{{/register_pg_link}}
                {{/free_course}}
                {{^free_course}}
                <button type="button" class="bg-white text-dark btn btn-sm mt-2 mb-4 rounded-pill"   data-toggle="modal" data-target="#request_callback_Modal">{{#str}}request_a_call,local_course_details{{/str}}</button>
                {{/free_course}}
                ------------------------------------>

                <span style="{{{enrolled}}};">
                {{#register_pg_link}}<a href="{{{register_pg_link}}}" class="bg-white text-dark btn btn-sm mt-2 mb-4 rounded-pill"> {{{button_name}}}</a>{{/register_pg_link}}
                </span>

               <span style="{{{not_loggedin}}};">
                {{#register_pg_link}}<a href="{{{register_pg_link}}}" class="bg-white text-dark btn btn-sm mt-2 mb-4 rounded-pill"> {{{button_name}}}</a>{{/register_pg_link}}
                </span>

                <span style="{{{register_block}}};">
                  <span class="register_cv">
                   <a href="{{{register_cv}}}" class="font-14 mouse-hover bg-white text-dark btn btn-secondary mt-2 mb-2 "> Fill registration details</a>
                   </span>
                <p>{{{register_success_msg}}}</p>
                </span>


            </div>
        </div>

<div class="row">
            <div class="col-md-3">
                    <span style="{{{register_via_online}}};">
                   {{#register_pg_link}}<a onclick="add_to_wishlist({{{cid}}},{{{userid}}},'online')" class="font-14 mouse-hover bg-white text-dark btn btn-secondary mt-2 mb-2 "> {{{reg_online_button_name}}}</a>{{/register_pg_link}}
                   </span>
               </div>
               <div class="col-md-3">
                    <span style="{{{register_via_offline}}};">
                   {{#register_pg_link}}<a onclick="add_to_wishlist({{{cid}}},{{{userid}}},'offline')" class="font-14 mouse-hover bg-white text-dark btn btn-secondary mt-2 mb-2 "> {{{reg_offline_button_name}}}</a>{{/register_pg_link}}
                   </span>
               </div>
               <div class="col-md-3">
                    <span style="{{{register_via_elearning}}};">
                   {{#register_pg_link}}<a onclick="add_to_wishlist({{{cid}}},{{{userid}}},'elearning')" class="font-14 mouse-hover bg-white text-dark btn btn-secondary mt-2 mb-2 "> {{{reg_elearning_button_name}}}</a>{{/register_pg_link}}
                   </span>
               </div>
        </div>
    </div>
</div>

<!--------Added by Manoj for wishlist success popup: 17 JUNE 2020----------------->
<div class="modal" id="myModal">
 <div class="modal-dialog">
   <div class="modal-content">

     <!-- Modal Header -->
     <div class="modal-header">
       <button type="button" onclick="javascript:window.location.reload()" class="close" data-dismiss="modal">&times;</button>
     </div>

     <!-- Modal body -->
     <div class="modal-body text-center">
       <b style="font-size:17px;">{{#str}}modal_succss,local_course_details{{/str}}</b>
     </div>

     <!-- Modal footer -->
     <div class="modal-footer">
       <button type="button" onclick="javascript:window.location.reload()" class="btn btn-danger" data-dismiss="modal">Close</button>
     </div>

   </div>
 </div>
</div>
