
<div id="accordion_{{{shortname}}}">

  <div class="card">
    <div class="card-header">
      <a class="card-link filter_card_link" data-toggle="collapse" href="#collapse_{{{shortname}}}">
        <h6>{{{filter_name}}}<i class="fa fa-minus text-secondary float-right"></i></h6>
      </a>
    </div>
    <div id="collapse_{{{shortname}}}" class="collapse show" data-parent="#accordion_{{{shortname}}}">
      <div class="card-body">
        {{#custom_field_data}}
          <div class="form-check">
            <label class="form-check-label">
              <input name="{{{fieldname}}}" type="checkbox" class="form-check-input" value="{{{field_value}}}" {{#checked}}checked{{/checked}}>{{{field_lable}}}
            </label>
          </div>
        {{/custom_field_data}}
      </div>
    </div>
  </div>

</div>