<div class="container-fluid pt-5 pb-5">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-xs-12 col-md-8">
            <div class="card p-4">
                <div class="card-body text-center">
                    <img src="{{{cat_logo}}}" class="rounded-circle mb-3" style="width:80px;">
                    <h4>{{{course_name}}}</h4>
                    <hr>
                    <p>{{{text}}}</p>
                    <a href="{{{prospectus_link}}}" target="_blank" class="btn btn-primary rounded-pill  m-2">{{#str}}download_procpectus,local_course_details{{/str}}</a>
                    <a href="{{{register_course_link}}}" class="btn btn-primary rounded-pill  m-2">{{{registerbutton_name}}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
