
{{ #use_featured_tab_section }}
<div class="container featured_tab mt-3 mt-4 mb-4">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs  pt-4 pb-4 justify-content-center">
    {{#featured_tab_data}}
        <li class="nav-item">
            {{#firsttab}}
            <a class="border-0 nav-link active" data-toggle="tab"  onclick="mytabfunction()" href="#{{{tabid}}}"><p>{{{fctabname}}}</p></a>
            {{/firsttab}}
            {{^firsttab}}
            <a class="border-0 nav-link" data-toggle="tab"  href="#{{{tabid}}}"><p>{{{fctabname}}}</p></a>

            {{/firsttab}}
        </li>
    {{/featured_tab_data}}
    </ul>

  <!-- Tab panes -->
    <div class="tab-content">
        {{#featured_tab_data}}
            {{#firsttab}}
            <div id="{{{tabid}}}" class="container tab-pane active">
                {{{fctabcontent}}}
                <div  class="row">
                {{{fcourses}}}
                </div>
                <div class="container text-center pt-5 pb-5">
                    <a href="{{{tabviewalllink}}}" id="tablink" class="btn btn-outline-primary eps-btn-outline-primary">{{{tabviewalltext}}}</a>
                </div>
            </div>
            {{/firsttab}}
            {{^firsttab}}
            <div id="{{{tabid}}}" class="container tab-pane fade">
                {{{fctabcontent}}}
                <div  class="row">
                {{{fcourses}}}
                </div>
                <div class="container text-center pt-5 pb-5">
                    <a  href="{{{tabviewalllink}}}" id="tablink" class="btn btn-outline-primary eps-btn-outline-primary">{{{tabviewalltext}}}</a>
                </div>
            </div>
            {{/firsttab}}

        {{/featured_tab_data}}
    </div>
</div>
{{ /use_featured_tab_section }}


<script>

$(document).ready(function(){
var search = $(location).attr("search");
var wwwroot = M.cfg.wwwroot;
var path = '/course/index.php';
var fullpath = wwwroot + path;
var name = "VIEW ALL INSTITUTIONS";
 if(search == "?redirect=0"){
  $("#tablink").html(name);
  $("#tablink").attr("href",fullpath);
 }
});


function mytabfunction(){
    var tabname = $("#checktabb").attr("href");
    var wwwroot = M.cfg.wwwroot;
    var path = '/course/index.php';
    var fullpath = wwwroot + path;
    if(mytabfunction == '#ftab1'){
    var name = "VIEW ALL INSTITUTIONS";
        $("#tablink").html(name);
        $("#tablink").attr("href",fullpath);
    }
   
}
</script>



