
	<div class="our-features">
		<div class="container p-5">
			<div class="row">
				<div class="col-md-12 text-center">
					{{#section_title}}
					<div class="col-md-12">
						<h2 class="text-uppercase">{{{section_title}}}</h2>
					</div>
					{{/section_title}}
					{{#section_description}}
					<div class="col-md-12 mt-3">
						{{{section_description}}}
					</div>
					{{/section_description}}
				</div>
				<div class="col-md-12 p-0">
					<div class="row pt-5 pb-5">
						{{#institution_card_list}}
			   				{{{institution_card_list}}}
			  			{{/institution_card_list}}
					</div>      
					
				</div>
				<div class="col-md-12 p-2 text-center">
					<a href="{{{all_course_page_link}}}" class="btn btn-outline-primary eps-btn-outline-primary text-uppercase" type="button">{{#str}}view_all_courses, local_course_details{{/str}}</a>
				</div>
					
			</div>
		</div>
	</div>
