

    <div class="search-page-header-wrapper ins-page-header-height">
        <div class="search-header-bg">
            
            <div style="background-image: url({{{header_bg_img}}}); -webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover; background-size:cover; background-repeat: no-repeat;  background-position: center; width:100%; height: 100%;"></div>        
            <div class="search-box-mask"></div>        
        </div>
        <div class="container-fluid pt-5 pb-5">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-xs-12 col-md-10 text-center p-3 text-light">
                    <h1 class="color-white">An online platform that helps you push limits to success</h1>
                    <h5 class="color-white">Prosper your career in a rapidly changing world by earning certification 
from professional institutions around the world</h5>
                    
                </div>
            </div>
        </div>
    </div>

