    <div class="search-page-header-wrapper">
        <div class="search-header-bg">
            
            <div style="background-image: url(../course_details/pix/student_login_heade.png); -webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover; background-size:cover; background-repeat: no-repeat;  background-position: center; width:100%; height: 100%;"></div>        
            <div class="search-box-mask search-box-mask1"></div>        
        </div>
        <div class="container-fluid pt-5 pb-5">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-xs-12 col-md-10 p-3 text-light login-header-container">
                    <h1 class="color-white login-header-title text-center">Student Login</h1>
                    
                    
                </div>
            </div>
        </div>
    </div>


