<div class="container-fluid pt-5 pb-5">
<div class="container  pb-5">
<div id="contactcorporate-form">
<div class="row pt-4 pb-4">
  <div class="col-md-12 text-center">
    <h1 class="text-uppercase">{{#str}}contactcorporate,local_course_details{{/str}}</h1>
    <p class="mt-5">{{#str}}contactcorporatedesc,local_course_details{{/str}}</p>
    <h5 class="bold">{{#str}}contactcorporatephone,local_course_details{{/str}}</h5>
  </div>
</div>
<div class="row">
    <div class="col-md-12">
    <div>
      <h4 class="bold pt-2 theme-primery-color ">{{#str}}getmoreinformation,local_course_details{{/str}}</h4>
    </div>
    <div>
      <p>{{#str}}getmoreinformationdesc,local_course_details{{/str}}</p>
    </div>
    <div>
      <p>{{#str}}required,local_course_details{{/str}}</p>
    </div>
  </div>
</div>
<div id="contact-form" class=" mt-5">
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="firstname">{{#str}}firstname,local_course_details{{/str}}</label>
      <input type="text" class="form-control" id="m_firstname"  >
      <span id="firstname_error" class="text-success"></span>

    </div>
    <div class="form-group col-md-4">
      <label for="lastname">{{#str}}lastname,local_course_details{{/str}}</label>
      <input type="text" class="form-control" id="m_lastname">
        <span id="lastname_error" class="text-success"></span>

    </div>
    <div class="form-group col-md-4">
      <label for="Email">{{#str}}email,local_course_details{{/str}}</label>
      <input type="email" class="form-control" id="m_email">
       <span id="email_info" class="text-success"></span>
    </div>
  </div>
    <div class="form-row">
    <div class="form-group col-md-4">
      <label for="contactnumber">{{#str}}contactnumber,local_course_details{{/str}}</label>
      <input type="number" min="10" class="form-control" id="m_contactnumber">
    </div>
    <div class="form-group col-md-4">
      <label for="corporatename">{{#str}}corporatename,local_course_details{{/str}}</label>
      <input type="text" class="form-control" id="m_corporatename" placeholder="Please let us know who you represent">
      <span id="corporate_error" class="text-success"></span>
      </div>
    <div class="form-group col-md-4">
      <label for="upskills">{{#str}}upskills,local_course_details{{/str}}</label>
      <select name="upskills" class="form-control" id="m_upskills">
      <option>Select</option>
      <option value="Less than 5">Less than 5</option>
      <option value="6 or more">6 or more</option>
    </select>
    </div>
  </div>
      <div class="form-row">
    <div class="form-group col-md-12">
      <label for="comment">{{#str}}additionalcomments,local_course_details{{/str}}</label>
      <textarea class="form-control" rows="5" id="m_comment" placeholder="Let our team know how can we assist you"></textarea>
    </div>
    
  </div>
  <div class="text-center pt-2 pb-4 rounded-pill" id="contact-button">
  <button type="submit" class="btn btn-primary rounded-pill text-uppercase" onclick="add_moreinfo();">{{#str}}submit,local_course_details{{/str}}</button>
  </div>
  <span id="message_info" class="text-success"></span>
  </div>
</div>
</div>
</div>