<div id="newsletter-form" > 
<div class="container" > 
	<div class="row" >
		<div class="col-md-6">
				<h1 class="bold mt-5">{{#str}}toournewsletter,local_course_details{{/str}}</h1>
		</div>
		<div class="col-md-6 pt-4">

		<div class="input-group input-group-lg mb-3 bg-white p-1 rounded-pill">
		  <input type="email" id="news_mail" class="form-control rounded-pill border-0" placeholder="{{#str}}youremail,local_course_details{{/str}}">
		  <div class="input-group-append">
		    <button class="btn btn-primary rounded-pill" type="button"  onclick="add_newsletter();">{{#str}}subscribe,local_course_details{{/str}}</button>
		  </div>
		</div>
		<span id="message_output" class="text-success"></span>


			<!--<div class="col">
				<input type="text" class="form-control" id="usr"> 
				<button type="button" class="btn-primary rounded-pill">{{#str}}subscribe,local_course_details{{/str}}</button>
			</div>
			<div id="input-container">
	            <input type="text" id="news_mail" placeholder="Your Email Address" class="shown">
	            <button type="button" class="shown text-white" onclick="add_newsletter();">{{#str}}subscribe,local_course_details{{/str}}</button>
	            <span id="message_output" class="text-success"></span>
	        </div>-->
		</div>
		
	</div>
	</div>
</div>