{{#useourfeatures}}
<style>
	.our_features_section_iconcontainer{
		width:120px;
		height:120px;
		margin:auto;
	}
</style>
	<div class="our-features" style="background-color:#fff;">
		<div class="container p-5" style="background-color:#fff;">
			<div class="row">
					<div class="col-md-12 text-center">
						{{#of_heading}}
						<div class="col-md-12">
							<h2 class="">{{{of_heading}}}</h2>
						</div>
						{{/of_heading}}
						{{#of_maincontent}}
						<div class="col-md-12 mt-5">
							{{{of_maincontent}}}
						</div>
						{{/of_maincontent}}
					</div>
					<div class="col-md-4 text-center">
						<div class="our_features_section_iconcontainer">
							{{#of_section_iconone1}}
				   				<img src="{{{ of_section_iconone1 }}}" class="img-fluid" >
				  			{{/of_section_iconone1}}
						</div>      
						      	
					     
					      {{#of_section_content1}}
					      		<div class="c-special-box-desc">
					      			{{{of_section_content1}}}		
					      		</div>
					      {{/of_section_content1}}
					</div>

					<div class="col-md-4 text-center">
					      
						      	{{#of_section_iconone2}}
					   				<img src="{{{ of_section_iconone2 }}}"  class="img-fluid" style="width:50%;">
					  			{{/of_section_iconone2}}
					     
					      {{#of_section_content2}}
					      		<div class="c-special-box-desc">
					      			{{{of_section_content2}}}		
					      		</div>
					      {{/of_section_content2}}
					</div>

					<div class="col-md-4 text-center">
					      
						      	{{#of_section_iconone3}}
					   				<img src="{{{ of_section_iconone3 }}}"  class="img-fluid" style="width:50%;">
					  			{{/of_section_iconone3}}
					      
					      {{#of_section_content3}}
					      		<div class="c-special-box-desc">
					      			{{{of_section_content3}}}		
					      		</div>
					      {{/of_section_content3}}
					</div>
					
			</div>
		</div>
	</div>

{{/useourfeatures}}