
{{#use_search_box_section}}

<style>
/* class applies to select element itself, not a wrapper element */
.select-css {
    display: block;
    /*font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;*/
    width: 100%;
    max-width: 100%; /* useful when width is set to anything other than 100% */
    box-sizing: border-box;
    margin: 0;
    /*border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;*/
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    /* note: bg image below uses 2 urls. The first is an svg data uri for the arrow icon, and the second is the gradient. 
        for the icon, if you want to change the color, be sure to use `%23` instead of `#`, since it's a url. You can also swap in a different svg icon or an external image reference
        
    */
   /* background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');*/
    background-image: url('{{{ config.wwwroot }}}/local/course_details/pix/caret-down-solid.svg');
    background-repeat: no-repeat, repeat;
    /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
    background-position: right .7em top 50%, 0 0;
    /* icon size, then gradient */
    background-size: .65em auto, 100%;
}
/* Hide arrow icon in IE browsers */
.select-css::-ms-expand {
    display: none;
}
/* Hover style */
/*.select-css:hover {
    border-color: #888;
}*/
/* Focus style */
/*.select-css:focus {
    border-color: #aaa;
    /* It'd be nice to use -webkit-focus-ring-color here but it doesn't work on box-shadow */
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
}*/

/* Set options to normal weight */
/*.select-css option {
    font-weight:normal;
}*/

/* Support for rtl text, explicit support for Arabic and Hebrew */
*[dir="rtl"] .select-css, :root:lang(ar) .select-css, :root:lang(iw) .select-css {
    background-position: left .7em top 50%, 0 0;
    padding: .6em .8em .5em 1.4em;
}

/* Disabled styles */
.select-css:disabled, .select-css[aria-disabled=true] {
    color: graytext;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
}

/*.select-css:disabled:hover, .select-css[aria-disabled=true] {
    border-color: #aaa;
}*/

</style>

    <div class="search-page-header-wrapper search-page-header-height">
        <div class="search-header-bg">
            {{#searchborbgimage}}{{{ searchborbgimage }}}{{/searchborbgimage}}
            <div class="search-box-mask"></div>        
        </div>
        <div class="container-fluid pt-5 pb-5" style="max-width:1200px;">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-xs-12 col-md-8 text-center p-3 text-light">
                    {{#searchbar_heading}}<h1 class="color-white">{{{ searchbar_heading }}}</h1>{{/searchbar_heading}}
                    <br><br>
                    {{#searchbar_subheading}}<h4 class="color-white mt-1 mb-1">{{{ searchbar_subheading }}}</h4>{{/searchbar_subheading}}
                   <!-- <div class="col-md-12 pt-3">
                        <div class="card search-bar-card">
                        <div class="card-body search-bar-card-body">
                        <form class="" method="post" action="{{{search_action_link}}}">
                            <div class="row p-1 pl-2 pr-2 ">
                                <div class="col-xs-12 col-md-4 border-light  border-right-2">

                                    <div class="input-group">
                                        <div class="input-group-append">
                                            <span class="text-secondary p-2"><i class="fa fa-search"></i></span>  
                                        </div>
                                        <input type="text" id="search_course_input" name="course_text" class="form-control search-bar-elements text-center" placeholder="SEARCH YOUR COURS">    
                                      </div>

                                </div>
                                <div class="col-xs-12 col-md-3 border-light border-right-2">
                                
                                    <select name="subject" class="form-control search-bar-elements" onchange="this.form.submit()" >
                                        <option disabled selected class="text-center">SUBJECT</option>
                                        {{#subject_list}}
                                        <option value="{{{tid}}}">{{{tname}}}</option>
                                        {{/subject_list}}
                                    </select>
                               
                                </div>
                                <div class="col-xs-12 col-md-3">
                                    <select name="institution" class="form-control search-bar-elements" onchange="this.form.submit()" >
                                        <option disabled selected>Institution</option>
                                        {{#c_cat_list}}
                                        <option value="{{{catid}}}">{{{catname}}}</option>
                                        {{/c_cat_list}}
                                    </select>
                                </div>
                                <div class="col-xs-12 col-md-2">
                                    <button type="submit" class="btn btn-primary search-bar-search-button">SEARCH</button>
                                </div>
                            </div>
                        </form>
                        </div>
                        </div>
                    </div>-->

                    <div class="col-md-12 abcd rounded-pill">
                        <div class="abcd rounded-pill p-1 text-uppercase"> 
                            <form class="" method="post" action="{{{search_action_link}}}">
                                <div class="row "> 
                                    <div class="col-xs-12 col-md-12"> 

                                        <div class="row ">  
                                            <div class="col-xs-12 col-md-6 p-0 bg-white rounded-pill">
                                                <div class="input-group">
                                                    
                                                    <input type="text" name="course_text" class="form-control search-bar-elements rounded-pill text-center" placeholder="SEARCH YOUR COURSE">   
                                                    <div class="inpfree_coursefree_courseut-group-append">
                                                        <!--<span class="text-secondary p-2"><i class="fa fa-search"></i></span>--> 
                                                        <button type="submit" class="btn btn-block rounded-pill search-box-search-btn"><i class="fa fa-search"></i></button> 
                                                    </div> 
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-md-6 bg-white rounded-pill mob-mt-2">
                                                <div class="row p-0">
                                                    <div class="col-xs-6 col-md-6 p-0 search-box-border-left" >
                                                        <select style="padding-left:53px;" name="subject" class="form-control search-bar-elements rounded-pill text-uppercase select-css" onchange="this.form.submit()">
                                                            <option disabled selected>SUBJECT</option>
                                                            {{#subject_list}}
                                                            <option value="{{{tid}}}">{{{tname}}}</option>
                                                            {{/subject_list}}
                                                        </select>
                                                    </div>
                                                    <div class="col-xs-6 col-md-6 p-0 search-box-border-left">
                                                        <select style="padding-left:33px;" name="institution" class="form-control search-bar-elements rounded-pill text-uppercase select-css" onchange="this.form.submit()">
                                                            <option disabled selected>Institution</option>
                                                            {{#c_cat_list}}
                                                            <option value="{{{catid}}}">{{{catname}}}</option>
                                                            {{/c_cat_list}}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <!--<div class="col-xs-12 col-md-3 mob-mt-2">
                                        <button type="submit" class="btn btn-primary  btn-block rounded-pill btn-sm text-uppercase">SEARCH</button>
                                    </div>-->
                                </div>
                            </form>                                
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

  
{{/use_search_box_section}}
