{{#usetestimonials}}
<div class="p-5" id="eps-testimonial">
	<div class="row">
		<div class="col-md-12 p-5">
			<div class="text-center"><h1 class="text-white">Testimonials</h1></div>
		</div>
	</div>
	<div class="row justify-content-around pt-4">
		<div class="col-md-6 p-3">
			<div class="bg-light p-5">
				<div class="col-md-12 text-center"><i class="fa fa-quote-left text-danger" aria-hidden="true"></i></div>
				<div class="col-md-12 text-center">{{{ testimonial }}}</div>
				<div class="col-md-12 text-center p-0">
					<div class="test-img-container">
						<div  class="rounded-circle text-center test-img" style="background-image: url('{{{ testimonialimage }}}');"></div>
					</div>
				</div>
			
			</div>
			<div class="text-center text-white" id="test-meta"><h5 class="text-white">{{{ testimonialname1 }}}</h5>{{{ testimonialmeta1 }}}</div>
		</div>
		<div class="col-md-6 p-3">
			<div class="bg-light p-5">
				<div class="col-md-12 text-center"><i class="fa fa-quote-left text-danger" aria-hidden="true"></i></div>
				<div class="col-md-12 text-center">{{{ testimonial1 }}}</div>
				<div class="col-md-12 text-center p-0">
					<div class="test-img-container">
						<div  class="rounded-circle text-center test-img" style="left: 40%; background-image: url('{{{ testimonialimage1 }}}');"></div>
					</div>			
				</div>
			</div>
			<div class="text-center text-white" id="test-meta"><h5 class="text-white">{{{ testimonialname1 }}}</h5>{{{ testimonialmeta1 }}}</div>
		</div>
		
	</div>
	<div class="row">
	<div class="col-md-12">
	<div class="text-center text-white pt-4"><button type="button" class="btn btn-outline-light rounded-2">VIEW ALL TESTIMONIALS</button></div>
	</div>
	</div>
</div>
{{/usetestimonials}}