<div class="container-fluid p-5" id="eps-testimonial">
	<div class="row">
		<div class="col-md-12">
			<div class="text-center"><h1 class="text-white">Testimonials</h1></div>
		</div>
	</div>
	<div class="row justify-content-around pt-4">
		<div class="col-md-6">
			<div class="bg-light p-5">
			<div class="text-center"><i class="fa fa-quote-left text-danger" aria-hidden="true"></i></div>
			<div class="text-justify">It was my first time doing an online course and I was really impressed with the system and how smoothly everything went, including the registration, getting info, getting support</div>
			<div class="text-center">This course has set the benchmark for any further online studies.</div>
			<div class="text-center" id="testimonial-img1"><img src="pix/testimonial-1.png"><h5 class="text-white">CHERYL CHEONG</h5><p class="text-white">Oxford Fintech Programmer</p>
			</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="bg-light p-5">
			<div class="text-center"><i class="fa fa-quote-left text-danger" aria-hidden="true"></i></div>
			<div class="text-justify">It was my first time doing an online course and I was really impressed with the system and how smoothly everything went, including the registration, getting info, getting support</div>
			<div class="text-center">This course has set the benchmark for any further online studies.</div>
			<div class="text-center" id="testimonial-img2"><img src="pix/testimonial-2.png"><h5 class="text-white">CHERYL CHEONG</h5><p class="text-white">Oxford Fintech Programmer</p></div>
			</div>
		</div>
		
	</div>
	<div class="row p-5">
	<div class="col-md-12 pt-5">
	<div class="text-center text-white pt-4"><button type="button" class="btn btn-outline-light rounded-2">VIEW ALL TESTIMONIALS</button></div>
	</div>
	</div>
</div>