
<div class="container">
	<table class="table table-striped" id="example">
		<thead>
		  <tr>
		  	<th>{{#str}}sno,local_course_details{{/str}}</th>
		    <th>{{#str}}fullname,local_course_details{{/str}}</th>
		    <th>{{#str}}email,local_course_details{{/str}}</th>
		    <th>{{#str}}course_name,local_course_details{{/str}}</th>
		    <th>{{#str}}reg_type,local_course_details{{/str}}</th>
		    <th>{{#str}}wishlist_date,local_course_details{{/str}}</th>
		 </tr>
		</thead>
		<tbody>
			{{{wishlist_string}}}
		</tbody>
	</table>
</div>

