<link rel="stylesheet" type="text/css" href="{{{link}}}">
<div class="container">
	{{#str}}date,local_course_details{{/str}} : {{{date}}}
	<table class="table table-striped" id="example">
		<thead>
		  <tr>
		  	<th>{{#str}}sno,local_course_details{{/str}}</th>
		  	<th>{{#str}}cat,local_course_details{{/str}}</th>
			<th>{{#str}}course,local_course_details{{/str}}</th>
		    <th>{{#str}}online,local_course_details{{/str}}</th>
		    <th>{{#str}}offline,local_course_details{{/str}}</th>
		    <th>{{#str}}elearning,local_course_details{{/str}}</th>
		 </tr>
		</thead>
		<tbody>
			{{{report_string}}}
		</tbody>
	</table>
</div>

