<style>
    body{
        background-color:#fff !important;
    }
    .socil-link-btn{
            margin: 0 2.5px;
            vertical-align: top;
            width: 38px;
            height: 38px;
            line-height: 38px;
            text-align: center;
            font-size: 16px;
            color: #fff;
            border-radius: 50%;
            padding:10px 15px;
    }
    .user-img{
        width:80%;
    }
</style>

<section id="aboutus-1" class=" pt-5 pb-5">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-3 pt-4 pb-4 text-center">
                    <img src="{{{ config.wwwroot }}}/local/contact/pix/mihir.jpg" class="user-img rounded-circle img-thumbnail mx-auto d-block">
                    <h4 class="mt-4">Mihir Jana</h4>
                    <h6>Founder </h6>

                </div>
                <div class="col-xs-12 col-md-9">
                    <div class="col-xs-12 col-md-12  pt-4 pb-4">
                        <div class="row">
                            <div class="col-xs-12 col-md-8">
                                <h1>Mihir Jana</h1>
                            </div>
                            <div class="col-xs-12 col-md-4 text-right">
                                <a href="#" class="socil-link-btn bg-primary">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#" class="socil-link-btn bg-danger">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#" class="socil-link-btn bg-info">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <div class="col-xs-12 col-md-12">
                        <h6>Bio</h6>
                        <p  class="text-justify">
Mihir is a familior name in online learning industry for a decade now. He is a brain behind many online learning start up in India, Australia, USA and Italy.
He is a avid reader of books and loves to watch football. For him customer is supreme.
For any queries/complain any time you can reach him at 91-9916650872 or mail him in mihir@bluetreelearning.com
</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>



<section id="aboutus-2" class="border-top bg-dark text-light pt-5 pb-5">
    <div class="container-fluid">
        <div class="container">
            <div class="row">

                <div class="col-xs-12 col-md-9">
                    <div class="col-xs-12 col-md-12  pt-4 pb-4">
                        <div class="row">
                            <div class="col-xs-12 col-md-8">
                                <h1>Abhijit Sen</h1>
                            </div>
                            <div class="col-xs-12 col-md-4 text-right">
                                <a href="#" class="socil-link-btn bg-primary">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#" class="socil-link-btn bg-danger">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#" class="socil-link-btn bg-info">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <div class="col-xs-12 col-md-12">
                        <h6>Bio</h6>
                        <p  class="text-justify">
                            <p dir="ltr" style="text-align: left;"><strong>Mr. Abhijit Sen</strong> is a senior software developer. He has experience of on this venture for about six years, like: - <em>LMS, E- commerce, Web Application Development</em>. He is sensible, devoted, candid and jovial with his work. He is fond of listening
    music and bike riding. Their secret of happiness lies in an upright life kindness to others humanity of a clear mind and a clear conscience.&nbsp;</p>
                            <p dir="ltr" style="text-align: left;"><strong><em>Success is not final,<br>Failure is not fatal,<br>It is the courage of continue that counts!!</em></strong><br></p>
                        </p>
                    </div>

                </div>
                <div class="col-xs-12 col-md-3 pt-4 pb-4 text-center">
                    <img src="{{{ config.wwwroot }}}/local/contact/pix/abhi.jpg" class="user-img rounded-circle img-thumbnail mx-auto d-block">
                    <h4 class="mt-4">Abhijit Sen</h4>
                    <h6>Product and Content Manager</h6>

                </div>
            </div>
        </div>
    </div>
</section>



<section id="aboutus-3" class="border-top  pt-5 pb-5">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-3 pt-4 pb-4 text-center">
                    <img src="{{{ config.wwwroot }}}/local/contact/pix/abhijit_c.png" class="user-img rounded-circle img-thumbnail mx-auto d-block">
                    <h4 class="mt-4">Abhijit Chaturvedi</h4>
                    <h6>Founder</h6>

                </div>
                <div class="col-xs-12 col-md-9">
                    <div class="col-xs-12 col-md-12  pt-4 pb-4">
                        <div class="row">
                            <div class="col-xs-12 col-md-8">
                                <h1>Abhijit Chaturvedi</h1>
                            </div>
                            <div class="col-xs-12 col-md-4 text-right">
                                <a href="#" class="socil-link-btn bg-primary">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#" class="socil-link-btn bg-danger">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#" class="socil-link-btn bg-info">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <div class="col-xs-12 col-md-12">
                        <h6>Bio</h6>
                        <p class="text-justify">
Abhijit brings his 25 years of experience into this venture.
He is passionate about sales, marketing and content curation. With his expertise, he loves to give life to content and smoooth user experience.
</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
