<style>
body{
    background-color:#fff;
}
    .container{
        max-width: 100%;
        overflow: hidden;
    }
    .contact-banner-top{
        width: 100%;
        height: 255px;
        background-image: url('{{{ config.wwwroot }}}/local/contact/pix/contact-us-banner.png');
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<section class="page__contact p-0">
   <div class="contact-banner-top">
   </div>
   <div class="container p-0">
      <div class="row">
      <div class="col-sm-12 col-md-6 col-12  pt-5 pb-5 l-3 pr-3">

         <!-- Start Single Address -->
         <div class="col-sm-12 col-12 pl-5 pr-5 pt-2 pb-2">
            <div class="row">
               <div class="col-md-2 ct__icon">
                  <i class="fa fa-home bg-success text-light"></i>
               </div>
               <div class="col-md-10 address__inner">
                  <h5>Our Location</h5>
                  <p>Our office address.Vidyanagara 5th Cross,
                     Bommasandra. Above City Union Bank,
                     Bangalore-560099.
                  </p>
               </div>
            </div>
         </div>
         <!-- End Single Address -->
         <!-- Start Single Address -->
         <div class="col-sm-12 col-12 xs-mt-60  pl-5 pr-5 pt-2 pb-2">
            <div class="row">
               <div class="col-md-2 ct__icon">
                  <i class="fa fa-phone  bg-info text-light"></i>
               </div>
               <div class=" col-md-10 address__inner">
                  <h5>Phone Number</h5>
                  <p>Call us</p>
                  <p><a href="tell:8595887700">9916650872</a></p>
               </div>
            </div>
         </div>
         <!-- End Single Address -->
         <!-- Start Single Address -->
         <div class="col-sm-12 col-12 md-mt-60 sm-mt-60  pl-5 pr-5  pt-2 pb-2">
            <div class="row">
               <div class="col-md-2 ct__icon">
                  <i class="fa fa-envelope  bg-danger text-light"></i>
               </div>
               <div class="col-md-10 address__inner">
                  <h5>E-mail Address</h5>
                  <p>Write to us.</p>
                  <p><a href="mailto:btreelearning@gmail.com">btreelearning@gmail.com</a></p>
                  <p><a href="mailto:info@bluetreelearning.com">info@bluetreelearning.com</a></p>
               </div>
            </div>
         </div>
         <!-- End Single Address -->

      </div>

      <div class="col-sm-12 col-md-6 col-12 bg-dark text-light">
      {{{contact_form}}}

      </div>

      </div>
   </div>
</section>
