<style>
body{
    background-color:#fff;
}
    .container{
        max-width: 100%;
        overflow: hidden;
    }
    .contact-banner-top{
        width: 100%;
        height: 255px;
        background-image: url('{{{ config.wwwroot }}}/local/contact/pix/PRIVACY POLICY.jpg');
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<section id="refund-policy" class="p-0">
   <div class="contact-banner-top"></div>
   <div class="container p-5">
    <h3 class="text-center mt-5">PRIVACY POLICY</h3>
    <p><strong>Broader purpose</strong></p>
<p>The purpose of this Privacy Policy Statement is to describe how BlueTree Learning collects, uses, and shares the information about the users through various online interfaces. It is recommended to read this notice carefully to understand the various terms &amp;
    conditions.</p>
<p><strong>How do we use your information?</strong></p>
<p>We, at BlueTree Learning, reserves the exclusive right to collect and store individual, anonymous or aggregate information about the users visiting our site as well as users who submit information by contacting ‘BlueTree Learning’.</p>
<p>We collect and store this information mainly to:</p>
<ul>
    <li>Enhance our Site's efficiency and content</li>
    <li>Analyze trends and improve performance</li>
    <li>To process specific requests for information, courses, material</li>
    <li>Improve our marketing efforts</li>
    <li>Improve the client services</li>
    <li>Email marketing (if applicable)</li>
</ul>
<p> At no time, BlueTree Learning sells this information to any other third-party </p>
<p><strong>Consent</strong></p>
<p>By using our website, and providing any personally identifiable information to BlueTree Learning, the user consents to this Privacy Policy Statement. BlueTree Learning<em>&nbsp;</em>reserves the right to update and change its Privacy Policy on a timely basis on its sole
    discretion without any prior notice. We might ask for your personal information for a different reason though, like marketing or promotion of our courses, feedback or other such purpose by either asking you directly for your expressed consent or provide
    you with an opportunity to say no.</p>
<p><strong>Security</strong></p>
<p>Users are requested to consider carefully whether to submit sensitive information that they would not want to make public. Use of BlueTree Learning’s Site is solely at the user's own risk. For more information, see our Terms and Conditions.</p>
<p><strong>Privacy policy around Information Collection, Use, and Sharing</strong></p>
<p>BlueTree Learning is the sole owner of the information collected by the customer on this website. Also, we only have access to/collect information that our customers voluntarily give us via email or other direct contact modes. We do not, in any case, sell or rent
    this information to anyone.</p>
<p>We will use the information shared with us to respond to you, regarding the reason you contacted us or resolving your queries. We, in any case, will not share your information with any third party outside of our company, other than as necessary to fulfill
    your request.</p>
<p>If not specifically mentioned, we might contact you via email in the future to let you know about our offerings, new products or services, or any changes to this privacy policy.</p>
<p>BlueTree Learning offer users the opportunity to participate in a variety of Online Course on or through the Site. If you wish to participate in a course, you will be asked to provide us with certain information necessary to conduct such a course. This information,
    in most cases includes, your name and email address, student-generated content such as assignments you submit to instructors, peer-graded assignments etc. In addition, we also collect course data, such as student responses to in-video quizzes, standalone
    quizzes, exams and surveys.</p>
<p><strong>For Authors</strong></p>
<p></p>
<ul>
    <li>By joining BlueTree Learning and sharing content, author confirm's that he is the owner of the content that he will be sharing on BlueTree Learning platform and he give the rights to market his courses to BlueTree Learning.</li>
</ul>
<p></p>
<ul>
    <li>The author shall be held responsible in case, the author is the non-owner of the content and has shared the content owned by a different individual/entity.</li>
</ul>
<p></p>
<p><strong>How can you access and control your Information</strong></p>
<p>Our customers can always opt out for any future contacts from us at any time. As our customers, you enjoy the freedom of contacting us via the email address or phone number available and can easily-</p>
<ul>
    <li>Access the information about the data we have about you</li>
    <li>Change/correct any data or information we have about you</li>
    <li>Avail the option of deleting the data we have about you</li>
    <li>You enjoy the complete liberty and freedom to express any concern you have about our use of your data/information available with us</li>
</ul>
<p><strong>Security measures to protect your privacy</strong></p>
<p>The sensitive information such as credit card and bank account details are properly encrypted and transmitted to us in a secure way. The same can be verified by checking the bottom of the web browser for a closed lock icon or "https" at the starting of
    the web page address while accessing our website.</p>
<p> At BlueTree Learning<em>,</em>&nbsp;we never store your bank account or credit card details. We use Razorpay payment gateway to receiev the payment.
<p>At BlueTree Learning<em>,</em>&nbsp;we take complete precautions to protect your data and information. We take all the measure to protect any sensitive information submitted via our website both online and offline.</p>
<p>Along with the online data protection using encryption, we also protect your information offline completely. We maintain a safe and secure environment for protecting your data by keeping the information in safe computers/servers. The personally identifiable
    information of our customers can only be accessed by the employees of the company such as billing or customer service executives.</p>
<p><strong>Changes to our Privacy Policy</strong></p>
<p>In case of any changes to our privacy policy, we will post those changes to this privacy statement, our homepage, and other places we deem appropriate so our customers are always aware of what information we are collecting, how we are using it, and under
    what circumstances, if any, we will be disclosing the same.</p>
<p>Users are requested to contact us immediately in case they feel we are not abiding by this privacy policy, and the same shall be looked into on an urgent basis.</p>
<p dir="ltr" style="text-align: left;"><br></p>
   </div>
</section>
