<style>
body{
    background-color:#fff;
}
    .container{
        max-width: 100%;
        overflow: hidden;
    }
    .contact-banner-top{
        width: 100%;
        height: 255px;
        background-image: url('{{{ config.wwwroot }}}/local/contact/pix/refund-policy.png');
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<section id="refund-policy" class="p-0">
   <div class="contact-banner-top"></div>
   <div class="container p-5">
    <h3 class="text-center mt-5 border-bottom">REFUND POLICY</h3>
    <p dir="ltr" style="text-align: left;">
    <p>For any online course enrollment at BlueTree Learning<em>,</em>&nbsp;participants are required to pay the fees for their training as per the BlueTree Learning’s<em>&nbsp;</em>invoice schedules. Should a participant cancel or withdraw the enrollment, they may be entitled
        to a refund as detailed in BlueTree Learning’s refund Policy, subject to cancellation fees on case to case basis.</p>
    <p>BlueTree Learning believes in complete transparency and maintaining a thoroughly accountable system. At BlueTree Learning, customers are entitled to a 100% refund within 10 days if-</p>
    <ul>
        <li>The refund is requested within 10 days of purchase of the online course</li>
        <li>No course material has been used</li>
        <li>No course certificates have been issued</li>
    </ul>
    <p>A student can request for cancellation of the enrolled course within the initial 10 days. Generally, it takes 2-3 business days to refund the amount from the requested date of cancellation.</p>
    <p><strong>Terms of acceptance for a refund by BlueTree Learning</strong></p>
    <ul>
        <li>The services offered by BlueTree Learning are subject to certain terms &amp; conditions and the Software License Agreement on our website. BlueTree Learning reserves the right to update the terms of use anytime without any prior notice.</li>
        <li>Refund requests must be made in writing, accompanied by the supporting evidence and documents. Additionally, BlueTree Learning reserves the right to request any further documentation/supporting evidence wherever necessary.</li>
        <li>All the approved refunds will either be sent-</li>
    </ul>
    <ol>
        <li>Directly to the individual</li>
        <li>To the organization who paid the students fees for the online course</li>
    </ol>
    <ul>
        <li>All the approved refunds will be paid within 2-3 business days from the date of the approval being granted by the BlueTree Learning authorities</li>
    </ul>
    <p><strong>How do we manage the Refund and Cancellation?</strong></p>
    <p>BlueTree Learning<em>&nbsp;</em>reserves the right to cancel or reschedule the online course or module at any time. In case BlueTree Learning<em>&nbsp;</em>cancels or reschedules the online course due to any unforeseen circumstances, the users are entitled to a full
        refund. However, BlueTree Learning is not responsible for any other kind of expenses incurred over and above the course fees.</p>
    <p>For the purchase of any E-Learning Modules on BlueTree Learning, there is a 20-day cooling-off period during which the students have the right to cancel their purchase. In case they go ahead with the cancellation, their payment gets refunded within 2-3 business
        days at max.</p>
    <p>However, as per our refund policy for eLearning courses, no refund will be made once access to the online course material has been made by the participants via the unique access codes. Since our learner management system is governed by a unique username
        and password, we have a solid tracking mechanism to ensure that the course material isn’t misused for any purpose. If the refund request is made by the customer, we reserve the right to track the usage by an individual using his/her username and
        password.</p>
    <p>&nbsp;If we have a reason to believe that an individual has viewed any of the online course material that they purchased or misused the same for any other purpose, no refund will be made.</p>
    <p><strong>Additionally, No refund will be granted if-</strong></p>
    <ul>
        <li>The student withdraws from the course after the commencement of the course (the date when the student is first granted access to the E-Learning portal)</li>
        <li>The student is excluded from continuing the course at BlueTree Learning’s senior management’s discretion in extreme cases</li>
        <li>The student withdraws the participation from the course less than 7 days prior to day 1 of training</li>
    </ul>
    <p><strong>Other refund &amp; cancellation conditions</strong></p>
    <p>In case the participant cancels the course registration 7 business days prior to the scheduled date, participants will be required to pay 20% of the course cost. BlueTree Learning reserves the right to change the cancellation fee depending on other variables.</p>
    <p>For all the course change application requests, no cancellation fee will be charged; however, the participant will need to pay the course change fee.</p>
    <p>If the student fails to cancel their online course enrolment prior to the course commencement, they will not be entitled to any refund. In such a scenario, the full course fee will be charged to the participant. In case the student wishes to complete
        the course at a later date, they will need to reapply for the online module at a later available date.</p>
    <p><strong>To summarize</strong></p>
    <p>Refunds will be granted by the BlueTree Learning if:</p>
    <ul>
        <li>The online course has been canceled before the scheduled date by BlueTree Learning for whatever reasons.</li>
        <li>The student withdraws or cancels the enrollment of the online course within the cooling-off period.</li>
        <li>The student enrolled for any particular online module withdraws for any reason more than 10 days before the commencement of the program, with the condition that they have not accessed the BlueTree Learning’s e-Learning online modules for any personal or
            third-party usage.</li>
        <li>In case of emergency situations such as illness or disability which prevents the participants from taking up the online program on the scheduled dates</li>
        <li>Any personal bereavement situation such as the death of a close family member</li>
        <li>Any other special or extenuating circumstances that prevent the participants from taking up the online program on the scheduled dates, however, such cancellation requests might be accepted for a full or partial refund at the sole discretion of
            the BlueTree Learning authorities.</li>
    </ul><br></p>
   </div>
</section>
