/********* Header *********/

.header-alert {
	border: none;
	background: $theme-color-primary;
	color: #fff;
	font-size: 16px;
	margin-bottom: 0;
	@include border-radius(0);
	padding: 0;
	.header-alert-inner {
		position: relative;
	}
	.alert-content {
		text-align: center;
		.inner {
			padding: 15px;
		}
		p {
			margin-bottom: 0;
		}
	}
	a {
		color: rgba(256, 256, 256, 0.8);
	}
	.close {
		position: absolute;
		top: 10px;
		right: 15px;
		color: #fff;
		text-shadow: none;
		@include opacity(0.8);
		&:hover {
			@include opacity(1);
		}
	}
	.alert-cta-btn {
		display:inline-block;
		font-size: 14px;
		color: $theme-text-color-secondary;	
	}
	
}


.page-wrapper {
	position: relative;
	//padding-top: 130px;
	padding-top: 50px;
	
	&.page-wrapper-secure {
		padding-top:0;
	}
	
	&.page-wrapper-maintenance {
		padding-top:60px;
		#region-main {
			text-align: center;
			font-size: 16px;
		}
		
		#region-main>.card {
			min-height: inherit;
			padding: 60px 30px;
		}
		
	}

	
	.pagelayout-login & {
		padding-top: 0;
	}
	
}

.page-header {
	position: fixed;
	z-index: 1002; /* higher than #nav-drawer (1001) but lower than modal window (1052) */
	top: 0;
	left: 0;
	width: 100%;
	@include box-shadow(0px 1px 4px 0px rgba(0, 0, 0, 0.1));
    
    /*
	&.page-header-secure {
		position: static;
		z-index: inherit;
	}
	*/

	.top-bar {
		background: $theme-text-color-primary;
		height: 50px;
		padding-top:10px;
		padding-bottom: 10px;
		font-size: 14px;
		position: relative;
		z-index: 20;
	}
	.top-bar-inner {
		position: relative;
	}
	
	.social-media-list {
		margin-bottom: 0;
		li {
			margin-right: 5px;
			&:last-child {
				margin-right: 0;
			}
		}
		a {
			color: rgba(256, 256, 256, 0.8);
			font-size: 16px;
			@include border-radius(50%);
			background: rgba(0, 0, 0, 0.3);
			display:inline-block;
			width: 30px;
			height: 30px;
			text-align: center;
			padding-top:4px;
			&:hover {
				color: #fff;
			}
		}
	}
	
	.drawer-toggle {

		float: left;
		display: inline-block;
		margin-right: 16px;
		position: relative;
		top: 16px;

	}
	
	.drawer-toggle-btn {
		background: none;
		border: none;
		padding: 0;
		display: inline-block;
		&:focus {
			outline: none;
		}
		
		&:hover {
			.icon-bar {
				@include opacity(1);
			}
		}
	}
	
	button.drawer-toggle-btn[aria-expanded="true"] {
		.icon-bar {
				@include opacity(1);
			}
	}

	
	.icon-bar {
		display: block;
        background-color: $theme-text-color-primary;
        height: 2px;
        width: 24px;
        @include opacity(0.8);
        @include border-radius(1px);
        & + .icon-bar {
	        margin-top: 6px;
        }
    }
    
    
    .special-wrapper.navbar {
	    @include box-shadow(none);
	    padding: 0;
	    min-height: inherit;
	    display: block;
    }

	.utilities {
		position: absolute;
		right: 0;
		top: 0;

		
		.popover-region {
			float: right;
			display: inline-block;
			
		}
		
		.popover-region-container {
			top: 34px;
			
			.content-item-container:hover {
				background: $smoky-white;
				color: $theme-text-color-secondary;
			}
			
		}
		
		
		.popover-region-toggle {
			padding: 0;
		}
		
		
		
		
		.popover-region-messages {
			position: relative;
			top: 3px;
			.popover-region-toggle {
				& > .icon {
				margin-right: 15px;
				color: rgba(256, 256, 256, 0.8);
				}
				&:hover {
					& > .icon {
						color: #fff;
					}
				}
			}
			
		}
		.popover-region-notifications {
			position: relative;
			top: 3px;

			.popover-region-toggle {
				& > .icon {
				margin-right: 15px;
				color: rgba(256, 256, 256, 0.8);
				}
				&:hover {
					& > .icon {
						color: #fff;
					}
				}
			}
		}
		.popover-region-toggle {
			&:focus {
				outline: none;
			}
			&:before {
				bottom: -14px;
				right: 12px;
			}
			&:after {
				bottom: -15px;
				right: 13px;
			}
		}
		
		.popover-region-header-text {
			font-weight: 500;
			color: $theme-text-color-primary;
			//font-size: 16px;
		}
		.count-container {
			background: $theme-color-counter;
			line-height:11px;
			top: -2px;
			right: 6px;
			width: 16px;
			height: 16px;
			text-align: center;
			font-weight: 700;
			@include border-radius(50%);
		}
		.usermenu {
			color: rgba(256, 256, 256, 0.5);
			position: relative;
			top: -4px;
			float: right;
			display: inline-block;
			.login > a {
				color: rgba(256, 256, 256, 0.8);
				&:hover {
					color: #fff;
				}
			}
			.usertext {
				color: #fff;
				@include truncate(200px);
				    display: inline-block;
				    position: relative;
				    top: 7px;
				.meta {
					font-size: 12px;
					@include opacity(0.8);
					position: relative;
                    top: -8px;
				}
			}
			.dropdown-toggle {
				color: #fff;
				position: relative;
				top: 2px;
			}
			.userpicture {
				@include border-radius(50%);
				margin-right: 0;
			}
			.dropdown-menu {
				background: #fff;
				color: $theme-text-color-secondary;
				border: none;
				@include border-radius(0);
				@include box-shadow(0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22));
				font-size: 14px;
				top: 10px !important;
				top: 35px!important;
				left: inherit;
				right: 0;


			}
			.dropdown-item {
				color: $theme-text-color-secondary;
				padding: 6px 20px;
				&:hover, &:focus {
					background: $smoky-white;
				}
				.icon {
					color: $theme-text-color-secondary;
				}
			}
		}
		.search-input-wrapper {
			position: relative;
			top: 0;
			.form-control {
				height: 30px;
			}
			div[role="button"] {
				padding-top:3px;
				color: rgba(256, 256, 256, 0.8);
			}
			&:hover {
				div[role="button"] {
					color: #fff;
				}
			}
		}
	}
	
	.secure-login-info {		
		position: absolute;
		right: 15px;
		top: 15px;
		font-size: 14px;
		color: $theme-text-color-secondary;
	}

}



.branding {
	background: #fff;
	padding-top: 15px;
	padding-bottom: 15px;
	height: 80px;
	.branding-inner {
		position: relative;
	}
	.site-name {
		color: $theme-text-color-primary;
		font-weight: bold;
		font-size: 24px;
		font-family: $headingfont;
		position: relative;
		top: 7px;
		&.has-logo {
			top: 5px;
		}
		&:hover {
			text-decoration: none;
			color: darken($theme-text-color-primary, 10%);;
		}
	}
	.site-logo {
		    width: auto;
			height: 40px;
	}
	
	.main-nav {
		position: absolute;
		right: 0;
		top: 14px;
		
		li.nav-item {
			font-weight: 500;
			font-size: 14px;
			float: left;
			display: inline-block;
			margin-right: 20px;
			&:last-child {
				margin-right: 0;
			}
		}
		
		.nav-link {
			padding: 0;
			color: $theme-text-color-primary;
			display: inline-block;
		}
		
		.dropdown-item {
			font-size: 14px;
		}
		
		.dropdown-menu {
			@include border-radiuses($topright: 0, $bottomright: 0, $bottomleft: 2px, $topleft: 2px);
	        padding: 0; 
	        border:none;
	        text-transform: none;
	        background: $theme-text-color-primary;     
	
	        a {
	            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	            padding: 8px 20px;
	            color: rgba(256, 256, 256, 0.8); 
	            @include opacity(1);   
	            display: block;            
	            
	            &:hover {
	                background: $theme-text-color-primary;
	                color: #fff;
	            }
	        }
	        .dropdown-divider {
	            display: none;
	        }

	
		}
		
	}
	
}


.navbar-nav .nav-item + .nav-item {
	margin-left: 2rem;
}



/* Drawer */
#nav-drawer {
	//top: 50px;
	//height: calc(100% - 50px);
	font-size: 14px;
	padding-top: 30px;
	padding: 0;
	background: #fff;
    @include box-shadow(1px 0px 5px 0px rgba(0, 0, 0, 0.1));
	.list-group-item {
		background: none;
		border: none;
		color: $theme-text-color-secondary;
		&:hover {
			color: $theme-text-color-primary;
			background: $smoky-white;
		}
	}
	.list-group {
		&:last-child {
			margin-top: 0 !important;
		}
		& + .list-group {
			border-top: 1px solid $theme-divider-color;
		}
		
	}
	
	.list-group-item {
		&.active {
			color: #fff;
			font-weight: 500;
			background: $theme-color-primary;
			@include border-radius(0);
			.media-left {
				color: #fff;
			}

		}
		&:last-child {
			@include border-radius(0);
		}
	}
	

}

.page-header .dropdown-toggle::after {
	vertical-align: 0.15em;
}




/* New feature - Mega Dropdown */
.top-bar {
	.mega-dropdown {
		display: inline-block;
	}
	
	.mega-dropdown-name {
		.text_to_html {
			display: inline;
		}
	}
	
	
	.mega-dropdown-menu  {
		 width: max-content;
		 margin: 0;
		 .nav-link {
			 color: $theme-text-color-secondary;
			 padding: 0;
			 margin-bottom: 0.875rem;
			 .text_to_html {
				 display: inline;
			 }
			 &:hover {
				 color: $theme-color-primary;
			 }
		 }
	}

	.mega-dropdown-toggle {
		position: relative;
		top: -1px;
		display: inline-block;
		color: #fff;
		font-weight: bold;
		background: rgba(0, 0, 0, 0.4); 
		padding: 5px 8px;
		display: inline-block;
		@include border-radius(4px);
		
		@include opacity(0.8);
		&:hover {
			text-decoration: none;
			@include opacity(1);
		}
		
	}
	
	a.mega-dropdown-toggle[aria-expanded="true"] {
		@include opacity(1);
	}

	
	.mega-dropdown-heading {
		font-size: 1.25rem;
	}
	.columns-2 {
		-webkit-column-count: 2;
	    -moz-column-count: 2;
	    column-count: 2;
	    -webkit-column-gap: 3rem;
	    -moz-column-gap: 3rem;
	    column-gap: 3rem;
	    width: 100%;
	}
	
	.columns-3 {
		-webkit-column-count: 3;
	    -moz-column-count: 3;
	    column-count: 3;
	    -webkit-column-gap: 3rem;
	    -moz-column-gap: 3rem;
	    column-gap: 3rem;
	    width: 100%;
	}
	
	.columns-4 {
		-webkit-column-count: 4;
	    -moz-column-count: 4;
	    column-count: 4;
	    -webkit-column-gap: 3rem;
	    -moz-column-gap: 3rem;
	    column-gap: 3rem;
	    width: 100%;
	}
	
}


// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	
	/* Make dropdown menu drop on hover */
	.branding .main-nav .dropdown > .dropdown-menu {
		margin: 0; //must remove margin
	}
	
	.branding .main-nav .dropdown:hover > .dropdown-menu {
	    display: block;
	    right: 0;
	    left: auto !important;
	    
	}
	
	.branding .main-nav  .dropdown > .dropdown-toggle:active {
	    /*Without this, clicking will make it sticky*/
        pointer-events: none;
	}
	

}


/* Small devices (phones, less than 768px) */
@media (max-width: 767px)  { 
	
	.top-bar {
		.mobile-column-1 {
			-webkit-column-count: 1 !important;
	        -moz-column-count: 1 !important;
	        column-count: 1 !important;
		}
	}

}

// Medium devices (tablets, less than 992px)
@media (max-width: 991px) { 
    .top-bar {
		.mega-dropdown {
			position: static;
		}
		.mega-dropdown-menu {
			max-width: 100%;
		}

	}

}

