
<h1>Abhijit</h1> 
<div id="accordion_{{{shortname}}}">

  <div class="card">
    <div class="card-header">
      <a class="card-link" data-toggle="collapse" href="#collapse_{{{shortname}}}">
        {{{filter_name}}}
      </a>
    </div>
    <div id="collapse_{{{shortname}}}" class="collapse show" data-parent="#accordion_{{{shortname}}}">
      <div class="card-body">
        {{#custom_field_data}}
          <div class="form-check">
            <label class="form-check-label">
              <input name="{{{fieldname}}}" type="checkbox" class="form-check-input" value="{{{field_value}}}">{{{field_lable}}}
            </label>
          </div>
        {{/custom_field_data}}
      </div>
    </div>
  </div>

</div>