.course-card-header{
    height: 180px;
    background-size: cover;
    background-position: center top;
}
.course_card_body{
    height:100px;
}








/*Abhijit: css for course card*/
@media (min-width:560px) and (max-width:740px) {
.course_details_tab{
margin-top:69px !important;
}
.bg_image{
height:128% !important;
}
}

@media (min-width:320px) and (max-width:420px) {
.course_details_tab{
margin-top:159px !important;
}

.bg_image{
height:155% !important;
}

}

.font-14 {
  font-size:14px !important;
}
.mouse-hover {
  cursor: pointer;
}
#page-local-course_details-course_details .search-box-mask {

background: rgba(0, 0, 0, 0.49);
background-repeat: repeat;
background-repeat: repeat-x;
display: block;
position: absolute;
width: 100%;
height: 100%;
left: 0;
top: 0;
z-index: 0;

}
#page-local-course_details-course_details #course_details_tabs .nav-tabs .nav-link.active {
    border: none !important;
    background-color: #2c75e4 !important;
    padding: 16px 36px;
    color: #fff;
}

#page-local-course_details-course_details #course_details_tabs .nav-tabs .nav-link {
    border: none !important;
    padding: 16px 36px;
}

#page-local-course_details-course_details #course_details_tabs .nav-tabs .nav-item {
    margin-bottom: 0;
}

#course_details_tabs .nav-tabs .nav-link {
    border: none !important;
    padding: 16px 36px;
}
.color-white {
    color: #fff !important;
}

.search-page-header-wrapper {
    position: relative;
    height: 360px;
}
.search-header-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.instructor_image{
    width: 60px !important;
    height: 60px !important;
}
.eps-card-header{
        height: 200px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-bottom: none !important;

    }
    .eps-card-body{
        height: 130px;
        padding-top: 70px !important;
        /*display: table !important;*/
        width:100% !important;
    }
    .eps-card-title{
        /*display: table-cell;*/
        vertical-align: middle;
    }
    .eps-card-footer{
        background-color: #fff !important;
        border-top: none !important;
        padding-top: 0 !important;
    }
    .eps-card-footer .btn{
        border-radius: 50px !important;
        font-weight: 400 !important;
    }
    .eps-card-logo{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 120px;
        height: 120px;
        border: 5px solid #eef2f8;
        background-color: #fff;
        margin: auto !important;
    }
    .eps-card-logo-container{
        position: absolute;
        width: 100%;
        top: 140px;
        height: 120px;
    }
    .eps-card-logo-img{
        max-width: 100%;
        width: 120px;
        max-height: 120px !important;
    }
    /*----------------------------------------------------------*/
/*manju:newsletter forms starts*/
#newsletter-form {
padding: 80px 0;
background: #E1E1E1 0% 0% no-repeat padding-box;
opacity: 1;
}

#newsletter-form .single {
max-width: 650px;
margin: 0 auto;
text-align: center;
position: relative;
z-index: 2; }
#newsletter-form .single h2 {
font-size: 22px;
color: white;
text-transform: uppercase;
margin-bottom: 40px; }
#newsletter-form .single .form-control {
height: 50px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #CFCFCF;
border-radius: 29px;
opacity: 1;
border-color: transparent;
border-radius: 20px 0 0 20px; }
#newsletter-form .single .form-control:focus {
box-shadow: none;
border-color: #243c4f; }
#newsletter-form .single .btn {
min-height: 50px;
border-radius: 0 20px 20px 0;
/*background: #ef4430;*/
text-align: center;
font: Regular 15px/20px Segoe UI;
letter-spacing: 0;
color: #FFFFFF;
opacity: 1;
background: #F41919 0% 0% no-repeat padding-box;
border-radius: 29px;
opacity: 1;
}
/*#contact-form button{
background: #F41919 0% 0% no-repeat padding-box;
border-radius: 24px;
opacity: 1;
}*/
/*manju:contact form css starts*/
#input-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
#input-container {
    z-index: 2;
}
#input-container>input.shown {
    transform: scale(1);
    opacity: 1;
    border-radius: 29px;
}
#input-container>input {
    display: inline-block;
    width: 100%;
    height: 65%;
    background-color: white;
    box-sizing: border-box;
    border: none;
    outline: none;
    padding: 0 26% 0 3%;
    opacity: 0;
    transform: scale(0);
    transition: all .4s ease .4s;
}
#input-container>button.shown{
    transform: scale(1);
    opacity: 1;
}
#input-container>button {
    position: absolute;
    top: 0;
    right: 0;
    height: 60%;
    color: var(--main-color);
    opacity: 0;
    transform: scale(0);
    transition: all .4s ease .4s;
}
#input-container button {
    width: 9rem;
    padding: 0;
    margin: 2px;
    border: none;
    outline: none;
    border-radius: 3rem;
    cursor: pointer;
}
/*corporate form starts*/
/*
#contactcorporate-form button{
background: #F41919 0% 0% no-repeat padding-box;
border-radius: 24px;
opacity: 1;
}*/

/*manju:testimonial page*/
#eps-testimonial{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('[[pix:course_details|bg-1]]');
    background-repeat: no-repeat;

}
#eps-testimonial i {
    font-size: 64px;
}
#eps-testimonial .test-img{
    width: 120px;
    height: 120px;
    border-style: solid;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 5px solid #fff;
    background-color: #fff;
    margin: auto !important;

}
.test-img-container{
    position: absolute;
    width: 100%;
}
#eps-testimonial .test-meta{
    padding-top: 85px;
}
#eps-testimonial .test-meta #sub-title .text_to_html{
    line-height: 0px;
}
#eps-testimonial .test-img img{
width:100%;
}
#testimonial-img2 {
    position: absolute;
    margin-left: 172px;
}
#testimonial-img1 {
    position: absolute;
    margin-left: 172px;
}
#eps-testimonial button {
    border-radius: 50px;
    border: 4px solid #fff !important;
    font-weight: 400 !important;
}
/*testimonial ccs ends*/

/*category links page ccs starts*/
#catlogin-links {
    background-color: #F1F1F1;
}

#catlogin-links .strip {
    max-height: 55px !important;
    border-radius:25px;

}
#catlogin-links i {
    font-size: 38px;
}
#catlogin-links .cat-image{
width: 45px;
height: 45px;
border-radius: 50%;
position: absolute;
top: 1px;
left: -4px;
display: table;
border: 3px;
border-style: solid;
/*border-color: #f1f1f1;*/
text-align: center;
}
.cat-image_p{
    display: table-cell;
    vertical-align: middle;
    padding: 3px;
    text-align: center;;
}
#catlogin-links .cat-image img{
/*width: 40px;
height: 40px;*/
width: 100%;
border: 3px;
border-style: none;

}




#catlogin-links .strip a{
    vertical-align: sub;
}
.login-header-title{
    display: table-cell;
    vertical-align: middle;
}
.login-header-container{
    display: table;
    height: 250px;
}
.search-box-mask1{
    background: rgba(0, 0, 0, 0.78) !important;
}
/*category links page css ends
/*manju:testimonial page*/

#eps-testimonialall i {
    font-size: 64px;
}
#eps-testimonialall .test-img{
    width: 120px;
    height: 120px;
    border-style: solid;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 5px solid #fff;
    background-color: #fff;
    margin: auto !important;

}
.test-img-container{
    position: absolute;
    width: 100%;
}
#eps-testimonialall .test-meta{
    padding-top: 85px;
}
#eps-testimonialall .test-meta #sub-title .text_to_html{
    line-height: 0px;
}
#eps-testimonialall .test-img img{
width:100%;
}
#testimonial-img2 {
    position: absolute;
    margin-left: 172px;
}
#testimonial-img1 {
    position: absolute;
    margin-left: 172px;
}
#eps-testimonialall button {
    border-radius: 50px;
    border: 4px solid #fff !important;
    font-weight: 400 !important;
}
/*testimonial ccs ends*/

/*Abhijit : CSS for course details page */
.course-header-logo-container{
    width:150px;
    height: 150px;
    display: table;
    border: 4px solid;
    background-color: #fff;
    z-index: +1;
}
.course-header-logo{
    padding: 3px;
    display: table-cell;
    vertical-align: middle;
}

.rating-percent-container{
    width: 60px;
}



/*--------------------------------------*/

.ins-page-header-height{
    height: 250px !important;
}

.search-page-header-height{
    height: 280px !important;
}

@media only screen and (max-width: 700px) {
      .ins-page-header-height{
            height: 450px !important;
        }

        .search-page-header-height{
            height: 360px !important;
        }
    }


.abcd{
        background-color:#fff;
    }

    @media only screen and (max-width: 700px) {
      .abcd{
            background-color:transparent;
        }
        .mob-mt-2{
            margin-top:8px;
        }
    }
#example_wrapper{
    margin-top:10px;
}