/** teachers page **/
.margin-60 {
margin-top:60px;
margin-bottom:60px;
}
.missionhead {
margin-bottom: 20px;
font-size: 40px !important;
}
.font-16-ul {
    font-size: 16px;
    line-height: 30px;
}

.advisor-padding {
    padding-top: 40px;
    padding-bottom: 40px;
}
.advisor-area .advisor-items .item .thumb ul li {
    display: inline-block;
    margin-right: 15px;
}
.advisor-area .advisor-items .item .thumb ul {
    margin-bottom: -5px;
    margin-top: 25px;
}
.advisor-area .advisor-items .single-item {
    margin-bottom: 30px;
}
.advisor-area .advisor-items .item {
    position: relative;
    z-index: 1;
    background: #ffffff;
    box-shadow: 0 0 10px #cccccc;
}
.advisor-area .advisor-items .item .thumb {
    padding: 30px;
}
.advisor-area .advisor-items.col-3 .item .thumb img {
    height: 200px;
    width: 200px;
    margin: auto;
}
.advisor-area .advisor-items .item .thumb img {
    box-shadow: 0 5px 30px 0 rgba(214, 215, 216, 0.57);
    padding: 5px;
    border-radius: 50%;
}
.advisor-area .advisor-items .item .info {
    padding: 30px;
    background: #002147 none repeat scroll 0 0;
}
.advisor-area .advisor-items .item .info span {
    color: #ffb606;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    display: block;
    margin-bottom: 10px;
}
.advisor-area .advisor-items .item .info h4 {
    margin-bottom: 0;
    text-transform: capitalize;
    font-weight: 300;
}
/** about us page **/
.default-padding {
    padding-top: 120px;
    padding-bottom: 120px;
}
.about-area .about-info {
    padding-right: 35px;
}
.about-area .about-info h2 {
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 20px;
    font-size: 40px !important;
    margin-top: -20px;
}
.about-area blockquote {
    padding: 0;
        padding-left: 0px;
    padding-left: 20px;
    border-color: #ffb606;
    border-width: 3px;
    line-height: 30px;
    font-size: 18px;
}
.about-area .semester-apply {
    border-top: 1px solid #e7e7e7;
    margin-top: 30px;
    padding-top: 30px;
}
.about-area .features .item.mariner {
    background: #307ad5;
}
.about-area .features .item {
    border-radius: 5px;
}
.about-area .features .item.brilliantrose {
    background: #e948ae;
}
.about-area .features .item.casablanca {
    background: #f9bd44;
}
.about-area .features .item.malachite {
    background: #10c45c;
}
.about-area .semester-apply {
    border-top: 1px solid #e7e7e7;
    margin-top: 30px;
    padding-top: 30px;
}
.about-area .semester-apply h4 {
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
}
.about-area .features .item a {
    display: flex;
    padding: 70px 30px;
}
.about-area .features .item .info {
    padding-left: 20px;
}
.about-area .features .item h2 {
    font-weight: 700;
    margin-top: -2px;
    line-height: 1;
}
.about-area .features .item h4 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.6px;
    margin-bottom: 0;
}
.text-light h1, .text-light h2, .text-light h3, .text-light h4, .text-light h5, .text-light h6, .text-light p, .text-light a {
    color: #ffffff;
}
.about-area .features .equal-height {
    margin-top: 30px;
}

.about-area .semester-apply {
    border-top: 1px solid #e7e7e7;
    margin-top: 30px;
    padding-top: 30px;
}

/*** contact page ***/
.junior__welcome__area {
    overflow: hidden;
}
.section-padding--lg {
    padding: 40px 0;
}
.bg-image--21 {
    background-image: url('https://d29u17ylf1ylz9.cloudfront.net/junior/images/bg/21.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.jn__welcome__wrapper--2 {
    margin-top: 80px;
}
.welcome__images {
    bottom: -70px;
    position: absolute;
    right: 199px;
    width: 49%;
}
.welcome__images--2 {
    position: absolute;
    right: 16%;
    top: 32%;
}
.welcome__juniro__three .welcome-tab .nav-item.active, .welcome__juniro__three .welcome-tab .nav-item:hover {
    background: #ff5020 none repeat scroll 0 0;
    border: 1px solid #ff5020;
    color: #fff;
}
.welcome__juniro__three .welcome-tab {
    margin-bottom: 23px;
    margin-left: -2px;
    margin-right: -2px;
}
.dcare__btn.btn__white {
    color: #666666;
}
.dcare__btn {
    transform: perspective(1px) translateZ(0px);
    transition-duration: 0.3s;
    background: #fe5629 none repeat scroll 0 0;
    box-shadow: 0 0 1px transparent;
    transform: perspective(1px) translateZ(0px);
    transition-duration: 0.5s;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-weight: 700;
    height: 48px;
    line-height: 48px;
    overflow: hidden;
    padding: 0 24px;
    position: relative;
    display: inline-block;
    text-transform: capitalize;
    z-index: 2;
}
.dacre__choose__option .choose .choose__inner h4 {
    font-size: 24px !important;;
    line-height: 32px;
    margin-bottom: 10px;

}
.section__title h2.title__line {
    line-height: 33px;
    margin-bottom: 23px;
    padding-bottom: 45px;
    position: relative;

    font-weight: 700;
}

.dacre__choose__option .choose .choose__icon {
    padding-left: 20px;
    padding-top: 11px;
}
.dacre__choose__option .choose .choose__inner {
    text-align: right;
}
.dacre__choose__option .choose {
    display: flex;
    justify-content: space-between;
}
.choose:not(first-child) {
    margin-top: 40px;
}
.dacre__choose__option.text__align--left .choose .choose__inner {
    text-align: left;
}
.dacre__choose__option.text__align--left .choose .choose__icon {
    padding-left: 0;
    padding-right: 20px;
}


 .ct__icon i {
    background: #fff none repeat scroll 0 0;

    height: 60px;
    line-height: 60px;
    margin: auto;
    text-align: center;
    top: 0;
    width: 60px;
    border-radius: 100%;
    color: #777777;
    font-size: 30px;
}

.page__contact .address .ct__icon {
    position: absolute;
    text-align: center;
    top: -42px;
    width: 100%;
}
.page__contact .address {
    position: relative;
    text-align: center;
}
.page__contact .address .address__inner h2 {
    font-size: 24px !important;
    font-weight: 700 !important;;
    margin-bottom: 24px;
    text-transform: capitalize;
}

.pt--180 {
    padding-top: 180px;
}
.pt--100 {
    padding-top: 100px;
}
.page__contact .address .address__inner {
    padding: 59px 20px 28px !important;;
}


#page-local-contact-team .item-inner {
    position: relative;
    margin-bottom: 15px;
    background: #fff;
    height: auto;
    overflow: hidden;
}

#page-local-contact-team .item-inner {
    border-radius: 9px;
}

.teacherbioteam {
  text-align:justify;
  margin-right:20px;
}

.main-area {
  margin-bottom:20px;
}
.secondary-area {
  margin-top:20px;
}

.widgets_div {
	border-bottom: thin #edf1f2 solid;
	padding: 22.85px 0;
}

.widgets_div .icon_div {
	display: inline-block;
	margin-left: 15px;
}

.widgets_div .icon_div span i {
	font-size: 24px;
}
.icon_div > span {
  display:table;
}
.widgets_div .text_div {
	display: inline-block;
	margin-left: 10px;
}

.widgets_div .text_div span {
	color: #58666e;
	font-size: 12px;
}

.widgets_div .text_div span + span {
	color: #747F85;
	font-size: 11px;
}
