{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_boost/columns2

    Admin time setting template.

    Boost 2 column layout template.

    Context variables required for this template:
    * sitename - The name of the site
    * output - The core renderer for the page
    * bodyattributes - attributes for the body tag as a string of html attributes
    * sidepreblocks - HTML for the blocks
    * hasblocks - true if there are blocks on this page
    * navdraweropen - true if the nav drawer should be open on page load
    * regionmainsettingsmenu - HTML for the region main settings menu
    * hasregionmainsettingsmenu - There is a region main settings menu on this page.

    Example context (json):
    {
        "sitename": "Moodle",
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Test page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headings make html validators happier</h1>"
         },
        "bodyattributes":"",
        "sidepreblocks": "<h2>Blocks html goes here</h2>",
        "hasblocks":true,
        "navdraweropen":true,
        "regionmainsettingsmenu": "",
        "hasregionmainsettingsmenu": false
    }
}}
{{{ output.doctype }}}
<html {{{ output.htmlattributes }}}>
<head>
    <title>{{{ output.page_title }}}</title>
    <link rel="shortcut icon" href="{{{ output.favicon }}}" />
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    
    {{#output.headingfont}}
    <link href="https://fonts.googleapis.com/css?family={{ output.headingfont }}:300,400,500,700" rel="stylesheet" />
    {{/output.headingfont}}
    
    {{#output.pagefont}}
    <link href="https://fonts.googleapis.com/css?family={{ output.pagefont }}:300,400,500,700" rel="stylesheet" />
    {{/output.pagefont}}    
    

    {{!--//ios_homescreen_icons (theme class function)--}}
    {{{ output.ios_homescreen_icons}}}
    
    {{{ output.standard_head_html }}}
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="twitter:card" content="summary_large_image">
    <meta content="@eduprosper1" name="twitter:site">
    {{#og_metatag_image}}
    <meta property="og:image" content="{{{og_metatag_image}}}">
    <meta content="{{{og_metatag_image}}}" name="twitter:image">
    {{/og_metatag_image}}
    {{#og_metatag_title}}
    <meta property="og:title" content="{{{og_metatag_title}}}" />
    <meta content="{{{og_metatag_title}}}" name="twitter:title">
    {{/og_metatag_title}}
    {{#og_metatag_page_link}}
    <meta property="og:url" content="{{{og_metatag_page_link}}}"/>
    {{/og_metatag_page_link}}
    {{#output.google_analyticsid}}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{{output.google_analyticsid}}}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', '{{{output.google_analyticsid}}}');
    </script>
    {{/output.google_analyticsid}}
    <style>
        .top-bar .drawer-toggle{
            display:none;
        }
    </style>
</head>

<body {{{ bodyattributes }}}>

<div id="page-wrapper" class="page-wrapper">

    {{{ output.standard_top_of_body_html }}}

    {{>theme_maker/header}}
    
   

    <div id="page" class="container-fluid ">

        <div id="page-content" class="row">
            <div id="region-main-box" class="col-12 p-0">
                {{#hasregionmainsettingsmenu}}
                <div id="region-main-settings-menu" class="d-print-none {{#hasblocks}}has-blocks{{/hasblocks}}">
                    <div> {{{ output.region_main_settings_menu }}} </div>
                </div>
                {{/hasregionmainsettingsmenu}}
                <section id="" {{#hasblocks}}class="has-blocks"{{/hasblocks}}>
                            {{#hasregionmainsettingsmenu}}
                                <div class="region_main_settings_menu_proxy"></div>
                            {{/hasregionmainsettingsmenu}}
                            {{{ output.course_content_header }}}
                            {{{ output.main_content }}}
                            {{{ output.activity_navigation }}}
                            {{{ output.course_content_footer }}}
                </section>
                {{#hasblocks}}
                <section data-region="blocks-column" class="hidden-print">
                    {{{ sidepreblocks }}}
                </section>
                {{/hasblocks}}
            </div>
        </div>
    </div>
    {{{ output.standard_after_main_region_html }}}
    {{> theme_boost/nav-drawer }}
</div>

{{>theme_maker/footer}}

</body>
</html>
{{#js}}
require(['theme_boost/loader']);
require(['theme_boost/drawer'], function(mod) {
    mod.init();
});
{{/js}}
