{{#usebenefits}}
<style>
	.benefits-row{
		position: relative;
    	z-index: +22;
	}
	.benefits-item{
		position: relative;
	}
	

	@media (min-width: 769px){
		.benefits-item-inner{
			padding-top: 30px !important;
		    padding-right: 32px !important;
		    padding-bottom: 50px !important;
		    padding-left: 32px !important;
			margin-top: -170px;
	    	
	    	transition: all .3s cubic-bezier(0,.01,.27,1);
		}
		.benefits-item-inner:hover{
			margin-top: -190px;
	    	-webkit-transition: all .3s cubic-bezier(0,.01,.27,1);
		    -moz-transition: all .3s cubic-bezier(0,.01,.27,1);
		    -o-transition: all .3s cubic-bezier(0,.01,.27,1);
		    transition: all .3s cubic-bezier(0,.01,.27,1);
		}
	}

	@media screen and (max-width: 1025px) and (min-width: 769px) {
		.benefits-item-inner{
			padding-top: 30px !important;
		    padding-right: 32px !important;
		    padding-bottom: 50px !important;
		    padding-left: 32px !important;
			/*margin-top: -170px;*/
	    	
	    	transition: all .3s cubic-bezier(0,.01,.27,1);
		}
		.benefits-item-inner:hover{
			margin-top: -190px;
	    	-webkit-transition: all .3s cubic-bezier(0,.01,.27,1);
		    -moz-transition: all .3s cubic-bezier(0,.01,.27,1);
		    -o-transition: all .3s cubic-bezier(0,.01,.27,1);
		    transition: all .3s cubic-bezier(0,.01,.27,1);
		}
	}

	@media only screen and (max-width: 767px) {
		.benefits-item-inner{
			padding-top: 30px !important;
		    padding-right: 32px !important;
		    padding-bottom: 50px !important;
		    padding-left: 32px !important;
			
	    	transition: all .3s cubic-bezier(0,.01,.27,1);
		}
		.benefits-section .item {
		    margin-bottom: 0px; 
		}
		.benefits-section {
			padding-top: 0px;
    		padding-bottom: 0px;
		}
		
	}

</style>
<div class="benefits-section" style="background: #fff !important;">
    <div class="container">
	    <div class="row benefits-row">
		    {{#benefits}}
			    {{#hasbenefit}}
			    <div class="item col-sm-6 col-lg-3 col-12 benefits-item p-0">
				    <div class="item-inner benefits-item-inner" style="background-color: {{{benefitcardcolor}}};">
					    {{#hasinternet}}
					        {{^usebenefitimage}}
						    {{#benefiticon}}
			                <div class="icon-holder">
			                    <i class="material-icons">{{{benefiticon}}}</i>              
			                </div><!--//icon-->
			                {{/benefiticon}}
			                {{/usebenefitimage}}
			                
			                {{#usebenefitimage}}
			                {{#benefitimage}}
			                <div class="image-holder text-center">
			                    <img src="{{{benefitimage}}}" alt="image">             
			                </div><!--//icon-->
			                {{/benefitimage}}
			                {{/usebenefitimage}}
		                {{/hasinternet}}
		                <div class="item-content text-center">
		                    <h3 class="item-title">{{{benefittitle}}}</h3>
		                    {{#benefitcontent}}
		                    <div class="item-desc">{{{benefitcontent}}}</div>  
		                    {{/benefitcontent}}
		                </div><!--//content-->    
				    </div><!--//item-inner-->           
	            </div><!--/item-->
	            {{/hasbenefit}}
            {{/benefits}}
	    </div><!--//row-->
	    
	    {{#benefitsbuttontext}}
	    <div class="text-center mb-3">
		    {{#benefitsbuttonurl}}<a class="btn btn-cta theme-btn-secondary" href="{{{benefitsbuttonurl}}}" {{#benefitsbuttonurlopennew}}target="_blank"{{/benefitsbuttonurlopennew}}>{{/benefitsbuttonurl}}
			    {{{benefitsbuttontext}}}
			{{#benefitsbuttonurl}}</a>{{/benefitsbuttonurl}}
	    </div>
	    {{/benefitsbuttontext}}
	    
	    
    </div><!--//container-->
    
</div><!--//benefits-section-->
{{/usebenefits}}

