{{#hasctasection}}
<style>
.parallax {
  /* The image used */
  background-image: url("{{{ config.wwwroot }}}/theme/maker/pix/cta_bg.jpg");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

</style>
<div class="cta-section parallax" style="">
	<div class="container-fluid text-center">
		<div class="cta-section-inner">
			{{#ctatitle}}
			<h2 class="cta-title">{{{ctatitle}}}</h2>
			{{/ctatitle}}
			{{#ctacontent}}
			<div class="cta-content">
				{{{ctacontent}}}
			</div><!--//cta-content-->
			{{/ctacontent}}
			
			{{#hasctadatabox}}
			<div class="cta-data-box mb-3">
				<div class="row justify-content-center">
					{{#ctadataitems}}
					<div class="item col-6 col-lg-3">
						<div class="item-inner p-3 text-white">
							<i class="fa {{{ctadataitemicon}}} fa-5x"></i>
							{{#ctadataitemmeta}}<div class="data-title text-warning mt-3">{{{ctadataitemmeta}}}</div>{{/ctadataitemmeta}}

							{{#ctadataitemtitle}}<div class="data-meta">{{{ctadataitemtitle}}}</div>{{/ctadataitemtitle}}
						</div>
					</div><!--//item-->		
					{{/ctadataitems}}
								
				</div><!--//row-->
			</div><!--//cta-data-box-->
			{{/hasctadatabox}}
			
			{{#hasctabutton}}
			<a class="btn btn-cta theme-btn-secondary border border-light" href="{{{ctaurl}}}" {{#urlopennew}}target="_blank"{{/urlopennew}}>{{{ctabutton}}}</a>
			{{/hasctabutton}}
		</div><!--//cta-section-inner-->
	</div><!--//container-fluid-->
</div><!--//cta-section-->
{{/hasctasection}}