{{#usecategories}}
<div class="categories-section bg-dark pb-4">
	{{#categoriessectiontitle}}
    <h2 class="section-title text-light">{{{categoriessectiontitle}}}</h2>
    {{/categoriessectiontitle}}

    <div class="container-fluid">
	    <div class="section-inner">
		    <div class="row">
			    
			    {{#categories}}
				{{#hascategory}}
			    <div class="item item-{{{categorycount}}} col-12 col-md-6 col-lg-2">
				    <div class="item-inner  align-items-center rounded-pill {{{categorycardcolor}}}" style="height:auto;">
					  {{#categoryimage}}
					  <div class="col-xs-12 text-center">
						  <img src="{{{categoryimage}}}" alt="image" style="height:80px; width:auto;">
					  </div>
					  {{/categoryimage}}
					  
					  <div class="col-xs-12 text-center mt--3">
						{{#categorytitle}}
					    <h5 class="title text-light">{{{categorytitle}}}</h5>
					    {{/categorytitle}}
					    {{#categorycontent}}
                        <!--<div class="desc">{{{categorycontent}}}</div>-->
                        {{/categorycontent}}
                        
                        {{#categoryurl}}
						<a class="item-link" href="{{{categoryurl}}}"></a>
						{{/categoryurl}}
						
					  </div>
					  
					</div>
			    </div><!--//item-->
			    {{/hascategory}}	    
			    {{/categories}}
		    </div><!--//row-->
		    
		    {{#categoriesbuttontext}}
		    <div class="text-center py-3">
			    {{#categoriesbuttonurl}}<a class="btn btn-cta theme-btn-primary" href="{{{categoriesbuttonurl}}}" {{#categoriesbuttonurlopennew}}target="_blank"{{/categoriesbuttonurlopennew}}>{{/categoriesbuttonurl}}
				    {{{categoriesbuttontext}}}
				{{#categoriesbuttonurl}}</a>{{/categoriesbuttonurl}}
		    </div>
		    {{/categoriesbuttontext}}
		    
		    
		</div><!--//section-inner-->
    </div><!--//container-fluid-->
    
</div><!--//categories-section-->
{{/usecategories}}
