{{#usefeaturedblocks}}
<style>
.featured-course-card-btn{
	
	width: 100%;
    position: absolute;
    bottom: 0;
    margin-bottom: -42px;
}

.xyz:hover + .featured-course-card-btn {
    margin-bottom: 0px;
}

</style>


<div class="featured-section">
	
	{{#featuredsectiontitle}}
    <h2 class="section-title">{{{featuredsectiontitle}}}</h2>
    {{/featuredsectiontitle}}
    
    <div class="container-fluid">
	    <div class="section-inner pb-5">
		    <div class="featured-carousel owl-carousel owl-theme">
			    
			    {{#featuredblocks}}
				    {{#hasblock}}
				    <div class="xyz item item-{{{blockcount}}}">
					    <div class="item-inner">
						    {{#blockimage}}
						    <div class="thumb-holder">
							    <div class="thumb-holder-inner">
							    </div><!--//thumb-holder-inner-->
						    </div><!--//thumb-holder-->
						    {{/blockimage}}
						    <div class="item-content" style="height:125px;">
							    {{#blocktitle}}
							    <h3 class="item-title">{{{blocktitle}}}</h3>
							    {{/blocktitle}}
							    {{#blockcontent}}
							    <div class="item-desc">{{{blockcontent}}}</div>
							    {{/blockcontent}}
						    </div><!--//item-content-->
						    {{#blockurl}}
						    <a class="item-link" href="{{{blockurl}}}" {{#urlopennew}}target="_blank"{{/urlopennew}}></a>
						    {{/blockurl}}
						    <div class=" col-12 p-2 border">
						    	<span class="small text-secondary">
						    		<i class="fa fa-comment-o"></i> {{{tot_review}}} &nbsp;
						    		<i class="fa fa-user"></i> {{{user_count}}}
						    	</span>
						    	
						    	<span class="float-right text-warning">
						    		{{{ratingstar}}}
						    	</span>
						    </div>
						    <div class="featured-course-card-btn">
						    	{{#blockurl}}
							    <a class="btn btn-info btn-block btn-sm" href="{{{blockurl}}}" {{#urlopennew}}target="_blank"{{/urlopennew}}> VIEW MORE</a>
							    {{/blockurl}}
						    </div>
					    </div><!--//item-inner-->
					    {{#blocklabel}}
					    <span class="item-label">{{{blocklabel}}}</span>
					    {{/blocklabel}}
				    </div><!--//item-->		
				    {{/hasblock}}	    
			    {{/featuredblocks}}
			    		        
			</div><!--//course-carousel-->
			
			{{#homeblockbuttontext}}
		    <div class="text-center py-3">
			    {{#homeblockbuttonurl}}<a class="btn btn-cta theme-btn-primary" href="{{{homeblockbuttonurl}}}" {{#homeblockbuttonurlopennew}}target="_blank"{{/homeblockbuttonurlopennew}}>{{/homeblockbuttonurl}}
				    {{{homeblockbuttontext}}}
				{{#homeblockbuttonurl}}</a>{{/homeblockbuttonurl}}
		    </div>
		    {{/homeblockbuttontext}}
		    
		    
		</div><!--//section-inner-->
    </div><!--//container-fluid-->
</div><!--//featured-section-->


{{/usefeaturedblocks}}