{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Page header.
}}

<header id="header" class="page-header page-header-top-bar" role="banner">
	<div class="top-bar">
		<div class="container-fluid">
			<div class="top-bar-inner">
				 <div class="special-wrapper navbar">
					 
					<div class="drawer-toggle" data-region="drawer-toggle">
			            <button aria-expanded="{{#navdraweropen}}true{{/navdraweropen}}{{^navdraweropen}}false{{/navdraweropen}}" aria-controls="nav-drawer" type="button" class="drawer-toggle-btn" data-action="toggle-drawer" data-side="left" data-preference="drawer-open-nav">
				            <span class="sr-only">{{#str}}sidepanel, core{{/str}}</span>
				            <span class="icon-bar-wrapper">
	                            <span class="icon-bar"></span>
	                            <span class="icon-bar"></span>
	                            <span class="icon-bar"></span>
	                        </span><!--//icon-bar-wrapper-->
				        </button><!--//toggle-drawer-btn-->
						
			        </div>
			        
			        <div class="flex-wrapper d-flex">
				        {{!--//header_dropdownmenu (theme class function)--}}
						{{{ output.header_dropdownmenu}}}
	
						{{!--//header_socialmedia (theme class function)--}}
						{{{ output.header_socialmedia}}}
						
					</div><!--//d-flex-->
			            
		            <div class="utilities">
			            <!-- user_menu -->
				        {{{ output.user_menu }}}
				
				        <!-- navbar_plugin_output -->
				        {{{ output.navbar_plugin_output }}}
				
				        <!-- search_box -->
				        <span class="d-none d-md-inline-block">
				        {{{ output.search_box }}}
				        </span>
		            </div><!--//utilities-->
			        
				</div>
			</div><!--//top-bar-inner-->
		</div>
	</div><!--//top-bar-->
	
</header><!--//header-->


<div class="branding" style="
    position: relative;
    z-index: +22;">
	<div class="container-fluid">
		<div class="branding-inner">
			
	        
	        <a href="{{{ config.wwwroot }}}" class="site-name {{# output.site_logo }}has-logo{{/ output.site_logo }}">
		        {{^ output.site_logo }}
		           {{{ sitename }}}
		        {{/ output.site_logo }}
		        
	            {{# output.site_logo }}

	                <img class="site-logo" src="{{{ output.site_logo }}}" alt="{{sitename}}">

	            {{/ output.site_logo }}
	        </a>
	       
	       
	        <ul class="main-nav d-none d-md-block">
	            <!-- custom_menu -->
	            {{{ output.custom_menu }}}
	            <!-- page_heading_menu -->
	            {{{ output.page_heading_menu }}}
	        </ul>
		   
		</div><!--//branding-inner-->
		
	</div><!--//container-fluid-->
</div><!--//branding-->

{{!--//moodle_validator (theme class function)--}}
{{{ output.moodle_validator}}} 
