{{#invalid}}
<div class="header-alert alert" style="background: #d93025;display:none;">
  <div class="container-fluid header-alert-inner">
	<div class="alert-content">
		  <div class="inner"><strong>Your theme license is only valid for Moodle 3.8!</strong> You need to purchase the correct license to continue using this theme. <br>For your license upgrade options please <a href="https://elearning.3rdwavemedia.com/contact/">contact us</a>.
		  </div>
	</div>
  </div><!--//container-->
</div>
{{/invalid}}