{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core/loginform

    Moodle template for the login page.

    Context variables required for this template:
    * autofocusform: Auto focus on form ?,
    * canloginasguest - Is guest login allowed?,
    * canloginbyemail - Is login by email allowed?,
    * cansignup - Signup allowed?,
    * cookieshelpicon - cookies help icon details
    * error - Any errors in the form?,
    * forgotpasswordurl - Forgot password url,
    * hasidentityproviders - Flag, set to true to hide identity providers,
    * hasinstructions - Flag, set to true to show instructions,
    * identityproviders - List of identiy providers,
    * instructions - Instructions,
    * instructionsformat - Format of instructions,
    * loginurl - Login url,
    * rememberusername - Remeber username?,
    * signupurl - Signup url,
    * cookieshelpiconformatted - Formatted html of cookies help icon,
    * errorformatted - Formatted error,
    * logourl - Flag, logo url,
    * sitename - Name of site.
    * logintoken - Random token to protect login request.,
    * maintenance - Maintenance message

    Example context (json):
    {
        "autofocusform": false,
        "canloginasguest": "1",
        "canloginbyemail": false,
        "cansignup": true,
        "cookieshelpicon": {
            "heading": "Cookies must be enabled in your browser",
            "text": "<div class=\"no-overflow\">Two cookies are used on this site. Both died..</div>",
            "icon": {
                "attributes": [
                    {
                        "name": "class",
                        "value": "iconhelp"
                    },
                    {
                        "name": "alt",
                        "value": "Help with Cookies must be enabled in your browser"
                    },
                    {
                        "name": "title",
                        "value": "Help with Cookies must be enabled in your browser"
                    },
                    {
                        "name": "src",
                        "value": "http://localhost/stable_master/theme/image.php?theme=boost&component=core&image=help"
                    }
                ]
            },
            "linktext": null,
            "title": "Help with Cookies must be enabled in your browser",
            "url": "http://localhost/stable_master/help.php?component=core&identifier=cookiesenabled&lang=en",
            "ltr": true
        },
        "error": "",
        "forgotpasswordurl": "http://localhost/stable_master/login/forgot_password.php",
        "hasidentityproviders": false,
        "hasinstructions": true,
        "identityproviders": [],
        "instructions": "For full access to this site, you first need to create an account.",
        "instructionsformat": "1",
        "loginurl": "http://localhost/stable_master/login/index.php",
        "rememberusername": true,
        "signupurl": "http://localhost/stable_master/login/signup.php",
        "cookieshelpiconformatted": "",
        "errorformatted": "",
        "logourl": false,
        "sitename": "Beer & Chips"
        "logintoken": "randomstring",
        "maintenance": "For full access to this site, you need to login in as an admin."
    }
}}
<div class="auth-blocks-wrapper justify-content-center">
	
	
	{{#maintenance}}
    <div class="maintenance-block mb-5 text-center p-4">
        <div class="block-inner">
            <h4 class="maintenance-title">{{#str}}sitemaintenance, core_admin{{/str}}</h4>
          
            <div class="maintenance-desc">
                {{{maintenance}}}
            </div>
        </div><!--//block-inner-->
    </div><!--//maintenance-block-->
    {{/maintenance}}
	
	

	<div class="login-block">
	    <div class="block-inner">
	        <div class="block-title">
	                <h2 class="login-sitename"><a href="{{{ config.wwwroot }}}">{{sitename}}</a></h2>            

	        </div>
	
	        {{#cansignup}}
	            <div class="sr-only">
	                <a href="{{signupurl}}">{{#str}} tocreatenewaccount {{/str}}</a>
	            </div>
	        {{/cansignup}}
	
	        {{#error}}
	            <div class="loginerrors m-t-1">
	                <a href="#" id="loginerrormessage" class="accesshide">{{error}}</a>
	                <div class="alert alert-danger" role="alert">{{error}}</div>
	            </div>
	        {{/error}}
	
	        <div class="row">
		        
	            <div class="form-col col-lg-12 col-12">
	                <form class="login-form" action="{{loginurl}}" method="post" id="login">
	                    <input id="anchor" type="hidden" name="anchor" value="">
	                    <script>document.getElementById('anchor').value = location.hash;</script>
	                    <input type="hidden" name="logintoken" value="{{logintoken}}">
	                    <div class="form-group username">
		                    <i class="fa fa-user" aria-hidden="true"></i>
		                    <label for="username" class="sr-only">
		                        {{^canloginbyemail}}
		                            {{#str}} username {{/str}}
		                        {{/canloginbyemail}}
		                        {{#canloginbyemail}}
		                            {{#str}} usernameemail {{/str}}
		                        {{/canloginbyemail}}
		                    </label>
		                    
		                    <input type="text" name="username" id="username"
		                        class="form-control login-username"
		                        value="{{username}}"
		                        placeholder={{#quote}}{{^canloginbyemail}}{{#str}}username{{/str}}{{/canloginbyemail}}{{#canloginbyemail}}{{#str}}usernameemail{{/str}}{{/canloginbyemail}}{{/quote}}
		                        autocomplete="username">
	                    </div><!--//form-group-->    
	                    <div class="form-group password">    
		                    <i class="fa fa-lock" aria-hidden="true"></i>
		                    <label for="password" class="sr-only">{{#str}} password {{/str}}</label>
		                    
		                    <input type="password" name="password" id="password" value=""
		                        class="form-control login-password"
		                        placeholder={{#quote}}{{#str}}password{{/str}}{{/quote}}
		                        autocomplete="current-password">
	                    </div><!--//form-group-->
	                    <div class="forgetpass">
		                    <a class="text-primary" href="{{forgotpasswordurl}}">{{#str}}forgotten{{/str}}</a>
		                </div>
	                    
	
	                    <button type="submit" class="btn btn-primary btn-block mt-1" id="loginbtn">{{#str}}login{{/str}}</button>
	                    
	                    {{#rememberusername}}
	                        <div class="rememberpass">
	                            <input type="checkbox" name="rememberusername" id="rememberusername" value="1" {{#username}}checked="checked"{{/username}} />
	                            <label for="rememberusername">{{#str}} rememberusername, admin {{/str}}</label>
	                        </div>
	                    {{/rememberusername}}
	                </form>
	                
	                
	                 
	                
	            </div><!--//form-col-->
	            
	            
	
	            <div class="info-col col-lg-12 col-12">
		            
		            
		             {{#hasidentityproviders}}
		                    <div class="oauth-wrapper">
				                <h6 class="oauth-title">{{#str}} potentialidps, auth {{/str}}</h6>
				                <div class="potentialidplist">
				                    {{#identityproviders}}
				                        <div class="potentialidp">
				                            <a href="{{url}}" title={{#quote}}{{name}}{{/quote}} class="btn btn-social btn-{{name}} btn-block ">
				                                {{#iconurl}}
				                                    <img class="social-icon-image" src="{{iconurl}}" alt="" width="24" height="24"/>
				                                {{/iconurl}}
				                                <span class="btn-text">{{name}}</span>
				                            </a>
				                        </div>
				                    {{/identityproviders}}
				                </div>
		                    </div>
			        {{/hasidentityproviders}}
		            
		        
	                <div class="cookies">
				        {{#str}} cookiesenabled {{/str}}
				        {{{cookieshelpiconformatted}}}
				    </div>

		               
		            {{#canloginasguest}}
		                <div class="guest-login-container">
		                    <p>{{#str}}someallowguest{{/str}}</p>
		                    <form action="{{loginurl}}" method="post" id="guestlogin">
			                    <input type="hidden" name="logintoken" value="{{logintoken}}">
		                        <input type="hidden" name="username" value="guest" />
		                        <input type="hidden" name="password" value="guest" />
		                        <button class="btn theme-btn-secondary btn-block" type="submit">{{#str}}loginguest{{/str}}</button>
		                    </form>
		                </div>
		            {{/canloginasguest}}
		
			       
		        
	            </div><!--//info-col-->
	            
	            
	        </div><!--//row-->
	    </div>
	</div>


	{{#hasinstructions}}
	<div class="instructions-block">
	    <div class="block-inner">
		    <div class="action-container">
		        <div class="option-title">
		            {{#str}}firsttime{{/str}}
		        </div>
		        {{#cansignup}}
		        <div class="signup-link">
		            <form class="signup-form" action="{{signupurl}}" method="get" id="signup">
		                <button type="submit" class="btn-secondary btn">{{#str}}startsignup{{/str}}</button>
		            </form>
		        </div>
		        {{/cansignup}}
		    </div><!--//action-container-->
	        
		    <div class="instructions">
	            {{{instructions}}}
		    </div><!--//instructions-->
	        
	        
	    </div>
	</div>
	{{/hasinstructions}}
	
	
	
</div><!--//auth-blocks-wrapper-->

{{#js}}
    {{#error}}
        require(['jquery'], function($) {
            $('#loginerrormessage').focus();
        });
    {{/error}}
    {{^error}}
        {{#autofocusform}}
            require(['jquery'], function($) {
                if ($('#username').val()) {
                    $('#password').focus();
                } else {
                    $('#username').focus();
                }
            });
        {{/autofocusform}}
    {{/error}}
{{/js}}
