* {
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

/*body {
  margin: 20px;
  font-size: 14px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #555; }*/

.iti__hide {
  display: none; }

pre {
  margin: 0 !important;
  display: inline-block; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  background: none; }
/*
input, button {
  height: 35px;
  margin: 0;
  padding: 6px 12px;
  border-radius: 2px;
  font-family: inherit;
  font-size: 100%;
  color: inherit; }*/
  input[disabled], button[disabled] {
    background-color: #eee; }
/*
input, select {
  border: 1px solid #CCC;
  width: 250px; }*/

::-webkit-input-placeholder {
  color: #BBB; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #BBB;
  opacity: 1; }

:-ms-input-placeholder {
  color: #BBB; }

button {
  color: #FFF;
  background-color: #428BCA;
  border: 1px solid #357EBD; }
  button:hover {
    background-color: #3276B1;
    border-color: #285E8E;
    cursor: pointer; }

#result {
  margin-bottom: 100px; }


  /*Manoj for country globe */

  .pos{
    position: absolute;
    margin: 10px;
  }

  .country{
    text-indent:25px;
  }

  /*Manoj for radio label*/
  .forradio{
    display: inline;
    font-weight: 600
  }

  /* Manoj for form headings*/
.reg{
  font-weight: 300;
  font-size: 1.3125rem !important;
  }

  /*Manoj for for form button*/
   .orange_button{
    background: #ff9d0a;
    border: 1px solid #ff9d0a;
    color: #111;
    font-weight: 600;
    opacity: 1;
} 
  .orange_button:hover{
    background: #ff9d0a;
    border: 1px solid #ff9d0a;
    color: #111;
    font-weight: 600;
    opacity: 1;
}

.orange_button:active{
    background: #ff9d0a;
    border: 1px solid #ff9d0a;
    color: #111;
    font-weight: 600;
    opacity: 1;
}

.orange_button:focus{
    background: #ff9d0a;
    border: 1px solid #ff9d0a;
    color: #111;
    font-weight: 600;
    opacity: 1;
}

.button {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 1rem 0;
    padding: 1em 2rem;
    -webkit-appearance: none;
    border: 1px solid transparent;
    border-radius: 3px;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    font-size: 0.9rem;
    line-height: 1;
    text-align: center;
    cursor: pointer;
}

/* for progress bar */
.bar {
    background: #ddd;
    height: 4px; 
    position: relative; 
   right: 56%; 
    top: 11px; 
}

.step_marker {
    background: #ddd;
    color: #1a1a1a;
    /*font-weight: 600px;*/
    border-radius: 12px;
    font-size: 12px;
    width: 23px;
    margin: -2px auto 0 auto;
    position: relative;
    z-index: 1;
}
.step_marker {
    background: #ddd;
    color: #1a1a1a;
    /*font-weight: 600px;*/
    border-radius: 12px;
    font-size: 12px;
    width: 23px;
    margin: -2px auto 0 auto;
    position: relative;
    z-index: 1;
}
.step.completed .bar {
    background: #ffad33;
}

.step.completed .step_marker {
    background: #ffad33;
}

.step p {
    color: #787878;
    text-align: center;
/*    font-size: 11px;
*/    padding: 3px;
    margin: 0;
}

/*04/01/2020 Manoj for success page */

.succss{
  background: rgb(217, 217, 217);border-bottom: 1.0px solid rgb(0,0,0);border-top: 1.0px solid rgb(0,0,0);border-right: 1.0px solid rgb(0,0,0);border-left: 1.0px solid rgb(0,0,0);
}
